[2017-11-30 11:09] andreufont opened #3 "repeated normalise_delta"
There is a function in py/lya_stats_functions.py and also in example_scripts/normalise_delta.py, we can probably remove one. Since it is a function (and not a script), probably better to store in py/.

[2017-12-24 11:45] #3 closed

[2018-04-19 13:50] andreufont opened #4 "Add DLAs / HCD to the skewers"
DLAs are one of the main contaminants of large scale Lyman alpha correlations. Technically, we not only care about DLAs but also systems with lower column densities, and we usually refer to them as HCD (high-column density systems).

We could easily add random HCD following a given column density distribution, f(N,z), where N is the HI column density. However, we would like to be able to add HCD i

[2018-04-19 13:50] andreufont commented on #4
@jfarr03 , @fjaviersanchez

[2018-04-19 13:51] andreufont commented on #4
Some discussion / math is presented here: https://github.com/igmhub/LyaCoLoRe/blob/master/example_scripts/threshold_dla_bias.ipynb

[2018-08-09 02:59] fjaviersanchez opened #17 "Do you guys want this to be a package?"
@andreufont @jfarr03 While testing the code in the `update_DLA` branch I made the package installable by `python setup.py install` (I didn't include the changes in the version that I pushed since this would be a new feature so it is better to include in a different branch). Is this something you'd like to include or do you prefer the modification of `PYTHONPATH` option?

[2018-08-09 10:00] andreufont commented on #17
Yes, I think this would be a good idea. Thanks!

[2018-08-13 12:10] #17 closed

[2018-09-03 10:36] andreufont opened #20 "Figure out how to use the new dndz file and add header key for zmin"
Nathalie sent us a file with an updated dndz, that looks quite different from what we had in CoLoRe. We should compare both, understand the differences, and use the new file for v4.

Moustakas has also asked whether we can ask zmin in the transmission file, as a header key.

[2018-10-26 14:43] londumas opened #21 "low z cut of random quasars"
mock data go down to z = 1.796 when mock randoms only to z = 1.8
![distrib_qso_low_z](https://user-images.githubusercontent.com/3166436/47573632-052c9980-d8fb-11e8-94f6-2c720b663747.png)

[2018-10-26 14:45] londumas opened #22 "Some DLA have z>z_QSO"
Some DLA have z_DLA > z_QSO
![distrib_zdla_m_zqso](https://user-images.githubusercontent.com/3166436/47573772-605e8c00-d8fb-11e8-98ed-974b108b8601.png)

[2018-10-26 14:47] londumas opened #23 "Probability of DLA vs. lRF is not flat"
Here is the probability of DLA as a function of lambda_RF.
I would have expected something quite flat. How do you set this?
The black lines give the Lya and Lyb rest-frame wavelength.

![probability_dla_vs_lrf](https://user-images.githubusercontent.com/3166436/47740316-1ea44d00-dc3d-11e8-8d9d-b114d8fba8b5.png)

[edit1] Correct plot after bug found in ZQSO

[2018-10-26 14:51] londumas opened #24 "Probability of DLA vs z has a bump"
The probability of DLA vs. redshift has a bump at z~2.8.
Do you know what is happening? Is it linked to Lyman-beta?

![probability_vs_z](https://user-images.githubusercontent.com/3166436/47574167-38235d00-d8fc-11e8-9ba4-17f0572fa32d.png)

[2018-10-26 14:54] londumas opened #25 "Bias of DLA is too low"
The bias of DLA is too low compared to data. The two plots are giving:
    - the stack in 1d of delta at the rest frame of a DLA
    - the 3D cross-correlation DLA x LYA

![stack_1d](https://user-images.githubusercontent.com/3166436/47574311-89cbe780-d8fc-11e8-855e-eaf0c9daa4af.png)

![3d_cross_lya_dla](https://user-images.githubusercontent.com/3166436/47574320-8df80500-d8fc-11e8-8de0-3e805209b599

[2018-10-26 15:04] londumas opened #26 "Distribution of NHI is very different than data"
In the following plot I compare the distribution of NHI in data (DR14_DLA_Noterdaeme) vs. the catalog in the mocks. We can see that the distribution is very different.
I don't know much about DLA, it could also be an issue with the efficiency in detecting DLA in data.

![nh1_distribution](https://user-images.githubusercontent.com/3166436/47574866-dd8b0080-d8fd-11e8-8b35-cde61f24c4a3.png)

[2018-10-30 09:16] fjaviersanchez commented on #21
I think it should be fixed now. I had a hard cut imposing that z_rnd > 1.8 and I took it off.

<img width="594" alt="screen shot 2018-10-30 at 10 14 40 am" src="https://user-images.githubusercontent.com/13971732/47707704-c6fde580-dc2c-11e8-8cb4-240b4f2595fa.png">

(orange are randoms, blue are QSOs)

[2018-10-30 09:39] fjaviersanchez commented on #21
I re-ran all the random catalogs in the 4.0.x folders. I am also opening a PR with the newest version of the code

[2018-10-30 09:52] andreufont commented on #21
Great @fjaviersanchez !

[2018-10-30 11:14] fjaviersanchez commented on #26
Ok, I fixed a bug in the code that was pushing the distribution towards larger NHI and to be nearly flat. I tested the fix for both solutions with `pyigm` and without:

Without `pyigm`:

![image](https://user-images.githubusercontent.com/13971732/47714463-3f6ca280-dc3d-11e8-9c33-85da0959c7ea.png)

With `pyigm`:

![image](https://user-images.githubusercontent.com/13971732/47714497-54493600-dc3d-11e

[2018-10-30 11:53] andreufont commented on #26
Hi @jfarr03 - can you generate a v4.1 from the same CoLoRe box than v4.0.0, but with this DLA fix? It would be good to run the full notebook of quality assessment before closing this issue.

[2018-10-30 11:54] jfarr03 commented on #26
Will do!

[2018-10-30 12:50] fjaviersanchez commented on #22
@alxogm I wonder if there's something going on when writing the file because the raw output from the DLA generation code explicitly prevents z_DLA > z_QSO, this is what I get when I run it with a toy QSO population:

![image](https://user-images.githubusercontent.com/13971732/47719195-b2c8e100-dc4a-11e8-8041-da964e08a640.png)

Could you please point me to the code that writes de DLA catalog `DLA.f

[2018-10-30 13:00] jfarr03 commented on #22
One thing I noticed on this issue: lines 177-179 seem to be commented out for some reason, and they explicitly revent z_DLA > z_QSO:
[code]
Is this the code you were referring to @fjaviersanchez or does this happen somewhere else?

[2018-10-30 14:32] alxogm commented on #22
@fjaviersanchez

Right now we are doing it in the Notebook Helion started.. we should move it to an script, I thought of merging it with the one I made to generate the catalog from the quick quasar output.

https://github.com/igmhub/desi_QA/blob/master/Mocks/QA_DLA.ipynb

[2018-10-30 15:02] londumas commented on #21
@fjaviersanchez, thanks for looking at this.
The distribution of randoms (red) follows the one of `master.fits:Z_QSO_RSD` (blue).
However the distribution of `quick-2.0/zcat_desi_drq.fits` (green) is different from these two.
@andreufont, Do you have an idea what is happening?

Of course I don't think it is the most important thing to fix for the moment, but it is nice to have a look at it.
![dist

[2018-10-30 15:02] londumas commented on #26
@jfarr03, please tell me when it is ready and I will have a look at it.

[2018-10-30 15:06] jfarr03 commented on #26
Yeah I will do - currently waiting on a bug fix but then will run everything through.

[2018-10-30 16:31] fjaviersanchez commented on #22
Ok, I found the bug. In the notebook https://github.com/igmhub/desi_QA/blob/master/Mocks/QA_DLA.ipynb, in cell 11 you mask all the qso-related quantities with `w` except for `zqso`, so I would change this:
[code]
To this:
[code]

After this fix the plot looks like this:

![image](https://user-images.githubusercontent.com/13971732/47733846-70fb6300-dc69-11e8-9ad9-6b56703f2b64.png)

Also, I would if

[2018-10-30 16:44] londumas commented on #22
@fjaviersanchez, Thanks for finding the bug and sorry for making it.
However, I think that it would be better for DLA to be linke QSO: Z_RSD and Z_NO_RSD.
Would you agree?

[2018-10-30 16:58] londumas commented on #22
Fixed. @fjaviersanchez You can close when you want to.
![dv_dla_qso](https://user-images.githubusercontent.com/3166436/47735743-bd777c00-dc32-11e8-826f-30332aa6a194.png)

[2018-10-30 17:18] andreufont commented on #21
Hi @londumas - the zcat files are generated from the zbest files, that are printed in quickquasars. The particular run that you are looking at was run with --zmin 1.8, so I believe quickquasars did not include the few quasars that happened to be at z<1.8.

[2018-10-30 18:14] londumas commented on #23
@fjaviersanchez, I have just updated the plot.
It looks good apart from `lRF<800 A`, but this can be simply small number statistics.

[2018-10-31 07:28] fjaviersanchez commented on #22
@londumas Great plot! No worries! We have a bunch of bugs in our code that you helped us catch! Thanks a lot for your work checking these mocks.

Yeah, I agree that having both Z_RSD and Z_NO_RSD would be even better. I don't know about what the best format to do so is. Probably, the most straightforward thing to do is to include a new column in the DLA files. I think that you are in a better posi

[2018-10-31 07:28] #22 closed

[2018-10-31 10:45] fjaviersanchez commented on #24
Honestly, I have no idea, I was thinking that it may be related to the bump at the QSO N(z) but you are dividing by that... It is curious that it also seems to appear in the data. Maybe @andreufont has some ideas?

[2018-10-31 10:50] andreufont commented on #24
I wouldn't worry about this. The distribution of quasars is different in the data (BOSS/eBOSS) than in the mocks (expected DESI), so I wouldn't expect this to match.

About the bump, it might be caused by a dip in the qso distribution?

Instead of looking at this, I would look at the f(z,N) that Alma is plotting. She was plotting this function as a function of N, but you can also plot it as a func

[2018-10-31 10:59] fjaviersanchez commented on #24
This is the function you are referring to integrated for the N range between 19.5 and 22 that we used for the sims, right? In any case, I think that the shape of that distribution may change a bit with the latest fix (the dependence in NHI is now pretty strong):

![image](https://user-images.githubusercontent.com/13971732/47783954-778ae880-dd04-11e8-857c-41c5d4bc821d.png)

[2018-10-31 14:59] londumas commented on #24
@andreufont,

I agree, I don't expect data to match mocks, however it gives an idea of what to expect

The distribution of DLA should follow that of the quasars, so I don't see a reason to have a bump.
Or maybe I am wrong and the redshift distribution of the DLA has no reasons to follow that of the quasars.
Maybe the DLA code is using a different quasar distribution than that quasar catalog?

I di

[2018-10-31 15:05] andreufont commented on #24
The number of DLAs at a given z, does not depend on the number of quasars at the same z, but instead it depends on a weighted integral of quasars above z.

Imagine that all your quasars had z=3. You wouldn't have any DLA at z=3, but you'd have DLAs at 2.5 < z < 2.95 or so.

So if there are bumps in the quasar distribution, then this would translate into a smoother bump in the DLA distribution, and

[2018-10-31 15:26] londumas commented on #24
@andreufont, Yes you are totally right. So this is not an issue at all.

[2018-10-31 15:26] #24 closed

[2018-11-07 16:40] andreufont commented on #20
@jfarr03 - we should be able to close this issue, right?

[2018-11-07 17:02] andreufont commented on #25
I was talking to James about the way we add the DLAs now, and he explained that we are now looking at the peaks of the delta_Gaussian field that already has the extra small scale power. What should be fine, as long as we are using the right value of sigma_gaussian as a function of redshift (I believe this is the case?).

However, we might be making our lives too complicated, since we could be usin

[2018-11-07 17:08] andreufont commented on #25
@londumas that wouldn't work, since while we use a threshold in the 3D density for quasars, for DLAs we use the 1D density skewers, that have been interpolated from the 3D density using a smoothing kernel.

The smoothing kernel changes the distribution of density values (PDF), and in particular it changes the variance sigma^2, so we would have to use different thresholds in the quasars and in the

[2018-11-07 17:09] londumas commented on #25
@andreufont, Ok, I see. I leave you look at that.

[2018-11-07 20:29] londumas commented on #25
@fjaviersanchez, I have though of this, but to do so we have to generate different kind of randoms for DLAs. Looking at how flat the ratio is in cell 62 of the QA https://github.com/igmhub/desi_QA/blob/master/Mocks/QA_DLA.ipynb, it seems that it might not be too complicated.
If you generate the randoms, then I will compute the 3D auto-correlation of DLAs.

[2018-11-07 20:34] fjaviersanchez commented on #25
Thanks! I'll generate specific randoms for the DLAs.

[2018-11-07 20:42] londumas commented on #25
@fjaviersanchez, Currently the catalog of DLA from the mocks that I have created from the transmission file does not have the DESI footprint. We will have to wait for the next version to get DLA mock data and DLA mock randoms on the DESI footprint.

[2018-11-07 23:13] fjaviersanchez commented on #25
@londumas That's fine, we can generate the randoms full-sky and cut them later if needed.

[2018-11-07 23:20] londumas commented on #25
@fjaviersanchez, ok, works for me. Tell me when it is done and where it is also.

[2018-11-08 11:00] andreufont commented on #25
Hi @fjaviersanchez, @londumas, @jfarr03

A couple of comments on trying to debug the DLA bias:
 - the footprint doesn't matter. I would just measure the cross-correlations of DLA-Lya (or the auto-correlation of DLAs) in the full sky.
 - You could compute the 1D cross-correlation of DLA x QSOs, that should be very fast, and that would already give you b_QSO b_DLA xi(r)
 - If you need a less noisy s

[2018-11-08 15:52] londumas commented on #25
Hi @andreufont,
- of course the footprint does not matter, however, we need both mock data and mock randoms to be on the same footprint. We already have the 3d DLA-Lya cross-correlation. See second plot on this ticket.
- Good idea, once I have the catalog of mock random, I will compute the 1d cross-correlation of DLA x xQSO
- We have enough statistic, we just need to change the threshold to get a

[2018-11-08 15:53] #20 closed

[2018-11-08 16:17] fjaviersanchez commented on #25
@londumas I produced a DLA random catalog at `'/global/projecta/projectdirs/desi/mocks/lya_forest/london/v4.0.0/DLA_randoms.fits.gz'`. It has 15 million objects so feel free to subsample it if needed to get quicker results.

[2018-11-08 16:29] fjaviersanchez commented on #25
I am adding everywhere in the sky since the skewers where the DLAs live are placed in the full sky. If I just restricted the randoms to be on the skewers the 1D correlations should be fine but the 3D power would be partially erased (since the angular correlations would be zero in that case because your random catalog has the same clustering as your data).

[2018-11-08 16:30] londumas commented on #25
@andreufont, I agree with you. I would place random DLAs only in front of quasars.
Anyway, I will have a look at that file.
However, this test is a bit superfluous, we only know that the bias of DLA is too low.
I would also generate a new catalog of mock data DLA, with a higher threshold. This test would be very simple. Is it fast for you @fjaviersanchez  to do that?

[2018-11-08 16:33] andreufont commented on #25
@londumas - the thing is, there is an analytical way to predict the bias as a function of threshold. So instead of "tuning" the threshold, I would like to understand why the analytical prediction didn't work. Specially since we need a threshold as a function of z.

[2018-11-08 16:44] fjaviersanchez commented on #25
@londumas that should be easy to do. Currently we fix the bias to 2 at z=2.25 but it can be fixed to whatever value we think is useful.

[2018-11-08 17:40] jfarr03 commented on #26
Sorry for the delay - there's a new lot of transmission files at /project/projectdirs/desi/mocks/lya_forest/london/v4.1.0 with the new NHI fixes included now!

[2018-11-08 17:43] andreufont commented on #26
@jfarr03 - should I run quickquasars on it? Also, could you add a short README and documentation in the wiki page?

[2018-11-08 17:44] londumas commented on #26
@andreufont, let me first look at the NHI distribution. If it is ok, then let's run quickquasar.

[2018-11-08 18:05] londumas commented on #26
@jfarr03, I can't find the catalog of DLA in `/project/projectdirs/desi/mocks/lya_forest/london/v4.1.0/`. Should I still produce it? Or is it hidden somewhere?

[2018-11-08 18:16] londumas commented on #26
@fjaviersanchez, @jfarr03, @andreufont,
The version `v4.1.0` is better but still not perfect. Could you have a look at what is happening?

![nhi_distribution](https://user-images.githubusercontent.com/3166436/48218712-babe0a80-e347-11e8-84dd-7d08a66270c3.png)

![nhi_distribution_2](https://user-images.githubusercontent.com/3166436/48218714-babe0a80-e347-11e8-8f78-936b5847234b.png)

[2018-11-08 18:40] londumas commented on #25
As @andreufont was suggesting it, the randoms are not correct since they don't reproduce the fact that there can be multiple objects along the same line-of-sight. The following plot gives the 3D auto-correlation of DLAs and quasars.
Anyway, comparing the 3d auto-correlation of DLAs and the 3D auto-correlations of quasars we can see that the bias of DLA is very low.
Simply compares the values at rp

[2018-11-08 19:41] fjaviersanchez commented on #26
Doing so now. I am also checking the bias problems. Let's see if I find something

[2018-11-09 17:34] jfarr03 commented on #26
@londumas  The DLA_master file is being made now! There's an initial one there with basic data in, but I'm making a proper one now with the details we discussed at the meeting (RA,DEC,Z_QSO,... etc)

[2018-11-09 17:35] londumas commented on #26
@jfarr03, perfect, tell me when I can test it.

[2018-11-09 17:41] londumas commented on #25
@fjaviersanchez, I am not saying that we should do that now, however if we want to get the catalog of mocked DLA randoms, I think we should: select some (ra,dec,z) at random that represent the host quasar and then for each of these set multiple random DLAs, as you do for mocked data DLA.
The consequence is that we will have multiple random DLAs for each random line of sight.
It would be nice also

[2018-11-09 23:03] fjaviersanchez commented on #26
Ok, I found out what was going on. I was interpreting log10 instead of log... Now the agreement is perfect:

![image](https://user-images.githubusercontent.com/13971732/48292754-87a37600-e430-11e8-896e-3d4c050fe479.png)

I am doing a PR with these changes.

[2018-11-09 23:44] londumas commented on #26
@fjaviersanchez, @jfarr03, good. Tell me when I can test the results in the next version.

[2018-11-09 23:48] fjaviersanchez commented on #26
@londumas I want to figure out the bias fix before generating another table but I'll give you the heads up. Thanks a lot!

[2018-11-13 10:07] andreufont commented on #26
It looks good @fjaviersanchez . Should we close this issue, then?

[2018-11-13 10:09] andreufont commented on #21
@londumas - is this issue fixed? Should we close it?

[2018-11-13 15:07] londumas commented on #21
Fixed. Thank you all.

[2018-11-13 15:07] #21 closed

[2018-11-13 15:08] londumas commented on #26
@andreufont and @fjaviersanchez, let's test it on the next run of the mocks, run the desi_QA and then close.

[2018-11-14 00:50] londumas opened #31 "Improve the smaller scale clustering of quasars auto-correlation"
Good jobs London-team, these results are very good.

Running the auto-correlation of quasars on the full sample gives the following results.
The parameters are very good: the three cosmological parameter and the bias of quasars:
https://github.com/igmhub/desi_QA/blob/master/Mocks/QA_autoQSO.ipynb.

[code]

The correlation function is good down to ~ 40 Mpc/h.
I was wondering if:
- we have the will

[2018-11-14 17:05] fjaviersanchez commented on #31
@andreufont @londumas: we can try to use 2LPT instead of the lognormal box so the low scale behavior is more realistic. However, the switch still doesn't guarantee to have realistic auto-correlations at scales smaller than 20 Mpc/h and the usage of 2LPT will create a different set of problems. I'd vote to keep this as a secondary goal for now (more so given the limited manpower that we have). Havi

[2018-11-14 17:12] londumas commented on #31
@fjaviersanchez, Thank you for the idea. I don't have much time for now and will have even less in the future. However I wanted to give you guys the current state of this measurement. Would it take you a long time to generate "a box with QSOs only and the same cosmology with 2LPT"? If not too much time, let's do it. If it is too much work let's forget it.

I forgot to give you guys one of the reas

[2018-11-14 17:16] fjaviersanchez commented on #31
Thanks @londumas! This should not take a lot of time (this should be done in 30 minutes or so if I find the time) the problem is that I am currently pretty overbooked. I'll try to find some time today, if I can't make it, I'll write down the instructions on how to do it and maybe we can find somebody else to work on this.

[2018-11-14 17:17] londumas commented on #31
@fjaviersanchez, No need to do it today. We have time to look for this. Thank you very much.

[2018-11-14 17:21] andreufont commented on #31
@londumas - Note that if the auto-correlation of quasars is off at r<40 Mpc/h, the cross-correlation will also be off to some degree.

And even thought it might be ineteresting to run 2LPT, we would not be able to run it with the same resolution, we would need to go to 5 Mpc/h cells, what might open other cans of worms. Moreover, the current code by James to add extra power assumes that the input

[2018-11-14 17:33] fjaviersanchez commented on #31
@andreufont I agree with your assessment. However, I think that it would still be interesting to make a proof-of-concept study (see if just the QSOs by themselves have the correct low-scale power). That way we can quickly decide whether this might be something worth looking at in the future or, if we want more realistic low-scale correlation functions, we have to change the paradigm completely. Wh

[2018-11-15 14:46] jfarr03 commented on #26
Glad this issue got fixed! I've run LyaCoLoRe again with the fixed DLA method, and with new tuning of the small scale power (shouldn't affect NHI distribution). The files are just transferring to a new v4.2.0 folder.

[2018-11-15 15:41] londumas commented on #26
@jfarr03, Thank you very much. Some remarks: in `master_DLA.fits` all `Z_DLA_RSD = 0` and `N_HI_DLA` (or `NHI`, as you want) is missing.

[2018-11-15 15:50] londumas commented on #26
@jfarr03, and in the transmission file `DZ_DLA_RSD` has a `D` as prefix. Maybe this explains the `Z_DLA_RSD = 0`.
Could I know why you recall inside the `DLA` hdu of the transmission files the `RA, DEC, Z_QSO_NO_RSD, Z_QSO_RSD`? Isn't that repeating information from the first hdu?
I totally agree that we need these information in the `master_DLA.fits`, but do we really need them twice in the trans

[2018-11-15 15:54] jfarr03 commented on #26
Good spots - I'll fix these now. It's not entirely necessary, I agree, but it makes things much faster when building the master as otherwise you have to search

[2018-11-15 15:57] londumas commented on #26
@jfarr03, My code here, under `Create a catalog` is not that long: https://github.com/igmhub/desi_QA/blob/master/Mocks/QA_DLA.ipynb. I think we can leave with it. But I leave you decide. Do you know how much extra space it takes to keep all of these?

[2018-11-15 16:07] jfarr03 commented on #26
Not sure how much extra space it is - I can't imagine it's much in relation to the skewers data? Still, it's worth trying to optimise a bit - I'll have a quick look at it now.

[2018-11-15 16:11] londumas commented on #26
Apart from these, it looks good for the NHI distribution, thanks @fjaviersanchez and @jfarr03.
@andreufont, @alxogm, @ngbusca, do we want something even more closer to the data, or this is good enough? Keep in mind that in the data there is the effect of efficiency of detection, bringing some uncertainties in the blue points.
Maybe we should work a bit on the high NHI tail of the distribution, at

[2018-11-15 17:01] jfarr03 commented on #26
@londumas there's a new DLA master in v4.2.0 now, and future versions will do away with the unnecessary data in the transmission files too! And thanks for making the plots, glad they're looking better

[2018-11-15 17:10] londumas commented on #26
@jfarr03, Thank you for the support. There is a bug in `Z_DLA_RSD`, that is not in `Z_DLA_NO_RSD`.
Maybe a `1+z`?
![distribution_zdla](https://user-images.githubusercontent.com/3166436/48569273-763dec00-e8be-11e8-89ab-78d0f0d0c059.png)

[2018-11-15 17:18] jfarr03 commented on #26
Ah yes that was just a type confusing DZ_DLA_RSD and Z_DLA_RSD. Fixed it and reproducing the file now

[2018-11-15 18:03] jfarr03 commented on #26
@londumas it should be fixed now!

[2018-11-15 18:25] londumas opened #32 "Small difference in NHI distribution"
This ticket inherits from https://github.com/igmhub/LyaCoLoRe/issues/26, now that the distribution in data and mocks are very similar.

Here are the distribution of NHI in mocks and data. You can see that they agree very well.
However, we could work a bit on the high NHI tail of the distribution, at NHI=22.5 we have a one dex difference.

@andreufont, @alxogm, @ngbusca, do we want something even m

[2018-11-15 18:29] londumas opened #33 "Differences in number of DLA per forest between data and mocks"
Here is the distribution of the number of DLA per forests for data and mocks.
It is a bit different for the two catalog, do we want and can easily improve this?

![nd_dla_per_forest](https://user-images.githubusercontent.com/3166436/48573449-75f71e00-e8c9-11e8-8db6-31d71798a4c5.png)

[2018-11-15 18:39] londumas opened #34 "Fix some name in fits file"
@jfarr03, please feel free to disagree.

Some names in fits file are not perfect (according to me):
- for "master_DLA.fits": I would rather have no space in the `EXTNAME = DLA CATALOG`.
`DLACAT` is perfect to be also less than 8 characters, but `DLACATALOG` would be ok also.

- I don't think you need to repeat the following in all header of all hdu of a given transmission file. Just for the `hdu=1

[2018-11-15 18:47] jfarr03 commented on #34
I'd certainly agree on the master DLA extname - I'll change that now. I don't really see any harm in repeating the HPX information etc in each HDU, though I can't say I have a particularly strong opinion on the matter.

In the DLA parts of the transmission files, I've changed the name to Z_DLA_RSD and have removed the other fields you mention already (these changes will appear in the next version)

[2018-11-16 05:37] londumas opened #35 "Random DLA along the line-of-sight"
@fjaviersanchez, I write it there so we don't forget. When we have the time, we could work on improving the random DLA, spatially along the line-of-sight.
I think the proper way would be to:
- select some (ra,dec,z) at random that represent the host quasar and then
for each of these set multiple random DLAs, as you do for mocked data DLA.
The consequence is that we will have multiple random DLAs f

[2018-11-19 21:42] londumas commented on #25
@fjaviersanchez, Did you have time to look into resolving this issue?
I really think that one of the best way to solve this is to change drastically the threshold on delta_gaussian to put DLA. I know @andreufont it will not follow the theoretical formulae, however it will help to see if it is working. Let's aim to have bais_DLA ~ 10, it will make everything easier. Once we measure the bias it will

[2018-11-19 21:43] londumas commented on #34
The more I see thing, the more I believe that too much information kills the information. Let's have it only in the hdu=0 or hdu=1.

[2018-11-20 20:51] londumas opened #36 "Bias of Lya is too low"
The following plot gives the comparison between the bias of Lya in mocks (using the eBOSS option of quickquasar) and data. The fit to the data were done without metals, to go faster (I will update once I have them).

The parametric function is:
[code]
we get:
[code]

We thus have a `~18%` difference between mocks and data.
This is a very big difference.

![bias_lya_mock_data](https://user-images.g

[2018-11-20 20:57] londumas commented on #36
For what it is worth, here is the comparison for beta_Lya:
[code]
![beta_data_mocks](https://user-images.githubusercontent.com/3166436/48802186-ac6ad980-eccb-11e8-8e47-31684d14f50f.png)

[2018-11-20 22:00] julienguy commented on #36
Helion, can you specify whether this is the true bias, or the picca "bias" parameter which is in fact bias*beta/f (and which should be renamed before causing more trouble) ? (I think it is the later from a comparison with DR12)

[2018-11-20 22:04] londumas commented on #36
@julienguy, indeed it is the picca "bias" = bias*beta/f, that will have its name changed after all DR14 papers are submitted.
However it is the case for both data and mocks, so the comparison is ok.

[2018-11-20 22:21] jfarr03 commented on #36
@londumas how does this compare the the results at https://desi.lbl.gov/trac/wiki/LymanAlphaWG/LondonMocks? The picca "bias" should, I believe, correspond to "bias_eta(z)" in the first two plots on that page, at which point the bias values looks more reasonable. The plots there are without any noise from quickquasars, so it's not fair to compare the error bars, but the best fit values should still

[2018-11-20 22:40] londumas commented on #36
@jfarr03, could you send me the path to the `*.h5` of the correlations you used in https://desi.lbl.gov/trac/wiki/LymanAlphaWG/LondonMocks so I can add it on my plot?

[2018-11-20 22:47] jfarr03 commented on #36
Sure: they're at `/global/homes/j/jfarr/Programs/picca/picca_analysis_002/picca_?????/*.h5`. I've changed the permissions so hopefully you should be able to access them. The directories `picca_????` each refer to a run of picca in a specific redshift bin (see the `parameters.txt` file inside the directory for the list of parameters used). The .h5 filenames shows the minimum separation used and whe

[2018-11-20 22:48] jfarr03 commented on #36
The bias/beta plots at the LondonMocks wiki page are made using rmin=40 and alphas free

[2018-11-20 22:49] londumas commented on #36
@jfarr03, I can't read them. Could you run `fix_permissions.sh`?

[2018-11-20 22:53] jfarr03 commented on #36
@londumas It should work now. Failing that, how do I run fix_permissions?

[2018-11-21 06:43] londumas commented on #36
@julienguy et al,
Plotting the real bias and the picca bias=bias_eta:

Real bias:

![bias_lya_mock_data](https://user-images.githubusercontent.com/3166436/48823296-8b32d900-ed1d-11e8-91bf-57ff1402dd5c.png)

bias picca = bias_eta

![bias_eta_lya_mocks](https://user-images.githubusercontent.com/3166436/48823297-8b32d900-ed1d-11e8-999f-c3c925eb7b9c.png)

[2018-11-21 15:50] andreufont commented on #36
Hi @londumas - we should discuss this at the telecon today. A couple of comments:
 - In the first plots you talk about "gamma" as the redshift evolution of the "biases". However, once we allow "beta" to vary, we need a different "gamma" for "bias" and for "bias_eta", or a gamma for "beta".
 - When comparing mocks vs data, we should include and HCD model in the data, otherwise we are measuring a co

[2018-11-21 16:55] alxogm commented on #34
Hi all, this changes in the fits files are in conflict with the current reading in quickquasars. If you have decided the names and format could you produce a small transmission file to be used for a unitest in quickquasars?  Right now is broken...I can fix it but probably is better if we define the final format.

[2018-11-21 16:56] londumas commented on #34
@alxogm, could you point to the line in quickquasar that is making a bug?

[2018-11-21 17:55] alxogm commented on #34
@Helion Yes it is:

File "/global/common/software/desi/cori/desiconda/20180709-1.2.6-spec/code/desisim/mas
ter/py/desisim/scripts/quickquasars.py", line 345, in simulate_one_healpix
    if (dla['Z_DLA']< metadata[ii]['Z']):
ValueError: no field of name Z_DLA

[2018-11-21 18:05] londumas commented on #34
@alxogm, I think @jfarr03 will agree. Let's wait for the next version of London mocks to set the names of the different fields, and then we will update `quickquasars`. Does that sound like a good plan?

[2018-11-21 18:10] alxogm commented on #34
OK,I think is fine, when that happens please produce a small transmission file to replace that one in the quickquasar unit test. Thanks.

Ps. I'll rise an issue in quickquasars so that we don't forget there.

[2018-11-30 16:57] londumas opened #37 "Mean transmission is too 5% to 20% too high"
The following plot gives the mean transmission, or similarly the optical depth, in the Lya forest as a function of redshift for the version: london/v4.0.0.
The blue line is the mock, for 100 transmission files, and the orange line is the near published results from a student at our lab, the green is the ratio.
The difference is quite large: from 5% up to 20%.
What did you choose for the evolution

[2018-11-30 18:17] jfarr03 commented on #37
@londumas We use the fitting function from https://arxiv.org/pdf/1208.2584.pdf (equation 5: <tau> = 0.751 X ^ 2.90 - 0.132 where X=(1+z)/(1+z0) for z0=3.5) in our tuning process. When we then process a whole run of skewers, the measured mean flux matches to within 10% from redshift 2.0-3.4. At the moment it isn't an input file, it's just a function written into the code. It wouldn't be hard to use

[2018-12-21 12:52] londumas opened #38 "Output P(k)"
It would be very useful to have a function in https://github.com/igmhub/picca, called something like `apply_pk_lyacolore()` in https://github.com/igmhub/picca/blob/master/py/picca/fitter2/pk.py.
It would transform the linear power-spectrum into the expected linear power spectrum from the LyaCoLoRe mocks, in a similar way as the transfer functions in cosmology.
Here are the different effects I see:

[2019-01-07 12:14] andreufont opened #39 "Update format for DLA_ID"
In an email thread with Alma and Xavier we discussed the possibility of using DLA_ID to distinguish only between the different DLAs in a single quasar. DLA_ID then would go from 0 to N-1, where N is the number of DLAs in a given quasar.

In order to identify a DLA, then, you'd need to specify both its DLA_ID and the TARGET_ID of the parent quasar. But any alternative we thought of could be problem

[2019-01-07 14:39] jfarr03 commented on #39
That seems sensible - at the moment the DLA ID is stored as "TARGET_ID"+"DLA number", where "DLA number labels each DLA in the skewer. Thus the current DLA ID specifies both the quasar and the DLA. It would be easy to change this to what you suggest if that's preferable, though!

[2019-01-07 14:45] andreufont commented on #39
Actually, I believe the current code does

DLA_ID = TARGET_ID * 1000 + DLA_NUMBER

What it might be good enough, since I don't think we'll ever have more than 1000 systems in a line of sight.

I was now looking at the email thread, and it is possible that this DLA_ID doesn't make it into the DLA catalog, and that is why the confusion started?

[2019-01-07 14:51] andreufont commented on #39
mmm... this might be problematic. The largest integer that can be stored in python is 2**32-1 = 4294967295.

This would imply that the largest TARGET_ID we could handle is int((2**32-1) / 1000) = 4294967. That is not a very large number...

How are we currently setting TARGET_ID? Because I seem to remember that we construct these using also the node used in CoLoRe?

[2019-01-07 15:08] jfarr03 commented on #39
Yes sorry that was what I meant! I thought that python 3.x no longer has a maximum integer value, though I might have misinterpreted that?

The DLA ID appears in the master_DLA and transmission files now, though this has only been produced for v4.2.0 and later.

The TARGET_ID is the CoLoRe node number, then 7 digits representing the row-number of the skewer in the original CoLoRe output file.

[2019-01-07 15:33] andreufont commented on #39
So i8 means int64? If so, then we should be fine, since it can store up to 10^18...

If you think you have these things under control we could close this ticket, and document well what DLAID means.

[2019-01-07 15:37] andreufont commented on #39
By the way, I noticed that you use some keywords in FITS files that are more than 8 characters long, and I believe these could lead to problems. See, for instance, Z_DLA_NO_RSD.

[2019-01-07 15:48] londumas commented on #39
@andreufont, for the more-than-8-character names, it is tracked there: https://github.com/igmhub/LyaCoLoRe/issues/34

[2019-01-17 18:39] londumas commented on #34
@jfarr03, thanks for the work on `v5.0.0`.
the name of `Z_DLA_RSD` is fixed and the duplication of `RA`, `DEC`, `Z_QSO_NO_RSD`, `Z_QSO_RSD` in DLA header is fixed also.
The `EXTNAME` of `master_DLA.fits` is perfect also.
Fixed.

[2019-01-17 18:39] #34 closed

[2019-01-17 18:55] londumas commented on #25
@jfarr03, Thanks for the work on v5.0.0, it looks good.

I detect a 3d DLAxLya correlation, however I am afraid that it might really be a 3d QSOxLya correlation.
Indeed most of your DLA are now very close to the quasars, this did not used to be the case.
Do you know what might be causing this?
See the following plots.

I intend to redo the 3d correlation removing all DLA within 2000km/s of the qua

[2019-01-17 19:15] londumas commented on #25
@jfarr03, it works! So the correlation is indeed coming from DLAxLya. We just have to find a way to remove DLA too close to the quasar. Do you have an idea of how to do that?
Thanks for the work! It is very cool to have a proper value for the DLA bias!

[2019-01-17 19:32] londumas commented on #25
@jfarr03, I am sending the computation of the cross-correlation DLA x Lya with more data to confirm the good news and see if the beta and the bias is correct.

[2019-01-17 20:25] londumas commented on #35
@jfarr03 or @fjaviersanchez, could you produce the random catalog of DLA for `v5.0.0`?

[2019-01-17 21:20] jfarr03 commented on #25
Great, glad this seems to have worked!

On a practical level, removing DLAs from close to the QSOs would be quite straightforward, but I’m not sure how exactly you would physically motivate a method to do so?

[2019-01-18 00:35] londumas commented on #25
@jfarr03, what is the size of the pixel of the large scale mode the quasar lives in? Is it something like 2Mpc/h? We could imagine removing all DLA that are basically taken from the same large scale mode of the quasar itself. Do you see what I mean? What is basically the scale of the smoothing to go from a field in each large scale pixel to a continuous field? The size might be 1 or 2 pixels or so

[2019-01-18 09:40] andreufont commented on #25
Thanks for looking at it @londumas, I'm glad to see this fixed.

About removing DLAs near the quasar: since quasars are in high density regions, it is normal to also have more DLAs. It is not clear what the DLAxQSO  should look like on small scales, so it is not clear to me that the one in the mocks is incorrect. If you think about it, probably most quasars leave in galaxies that could cause DLAs

[2019-01-18 16:41] fjaviersanchez commented on #35
I used a revamped version specific for DLAs. I am sending it to you on slack but feel free to add it to the repo (I would say under the desi directory).

I also generated the random catalog here: `/global/projecta/projectdirs/desi/mocks/lya_forest/london/v5.0.0/master_DLA_randoms.fits.gz`.

I didn't include any ID but the ra and dec should be from a given line of sight with a DLA.

[2019-01-18 16:45] londumas commented on #25
@jfarr03, I ran with 100,000 forests and all the DLA catalog and it is perfect. See plot bellow.
My plan to close this ticket is to compute the 3d auto-correlation of DLA to get a direct measurement of bias and growth_rate_of_structure for the DLA. Once this is done we can safely resolve this ticket.
Do that sounds like a good plan?

![xcf_dla](https://user-images.githubusercontent.com/3166436/514

[2019-01-18 16:59] jfarr03 commented on #25
That sounds good to me! I'll generate randoms now and will let you know when they're ready

[2019-01-18 17:01] jfarr03 commented on #25
Oh wait, I hadn't seen @fjaviersanchez's comment on #35! It seems the randoms are already there and ready to go.

[2019-01-18 17:05] londumas commented on #35
@fjaviersanchez and @jfarr03, thanks for the randoms. The issue is that we really need the equivalent of `MOCKID`, i.e., the ID of the line-of-sight. Because without it we can not remove pairs of DLA from the same line-of-sight. If it is possible I would need `MOCKID` and something like the `Z_QSO` of the quasar along the line-of-sight where you got you DLA from. if the latter is too complicated,

[2019-01-18 17:09] jfarr03 commented on #35
That shouldn't be too difficult - I'll get on it now!

[2019-01-18 17:11] andreufont commented on #35
Are you sure you know how to generate DLA randoms? I thought this was non-trivial.

[2019-01-18 17:17] jfarr03 commented on #35
Is it not possible to just pick random points on each skewer according to a certain number density n(z)?

[2019-01-18 17:21] londumas commented on #35
Here is what the current randoms give for the auto-correlation of DLA.
It is nearly what we want except along the line-of-sight as expected by the lack of `MOCKID` in the random file. Very cool!
![auto_dla](https://user-images.githubusercontent.com/3166436/51402409-ab5afa80-1b0a-11e9-898d-82465706c2a6.png)

[2019-01-18 17:46] jfarr03 commented on #35
Excellent news! I'm generating a new set of randoms now, using the same method as the old ones but including MOCKID, Z_QSO_RSD and Z_QSO_NO_RSD. The current file is still in the same location but renamed with suffix "_noMOCKID".

[2019-01-18 17:53] londumas commented on #35
@jfarr03, Thanks. Could you create the file directly in `*.fits` and not in `*.fits.gz`. I can't read it.
I think it is linked to the same bug I have seen in https://github.com/esheldon/fitsio/issues/199.

running the following code:

[code]

I get the error:
[code]

[2019-01-18 18:15] londumas commented on #25
@jfarr03 and @andreufont,
Perfect the preliminary results on the auto-correlation of DLA confirms that the bias of DLA is good.
Let's resolve this ticket and open a different one to see the issue of minimum distance between the quasar and the DLA in the same forest.

![co_dla_wedge_0_rescale_1](https://user-images.githubusercontent.com/3166436/51404895-0512f300-1b12-11e9-8062-b7af63c329dc.png)

![

[2019-01-18 18:15] #25 closed

[2019-01-18 18:51] londumas commented on #39
@andreufont and @alxogm, are the current `DLAID` good for you in `/global/projecta/projectdirs/desi/mocks/lya_forest/london/v5.0.0/master_DLA.fits`?
It is unique to each DLA. If so we can resolve this ticket.

[2019-01-18 19:11] londumas opened #40 "exclusion radius for DLA with respect to background quasar"
Following the discussion started in ticket https://github.com/igmhub/LyaCoLoRe/issues/25, we might need to decide on an exclusion radius around the background quasar, where no DLA can lie.
The best way to assess if the peak at Delta_v ~ 0 is too sharp is to use the updated randoms once they are fixed (ticket https://github.com/igmhub/LyaCoLoRe/issues/35).
Maybe the most straightforward exclusion r

[2019-01-21 02:45] londumas opened #41 "Delta r_parallel is non zero"
Using `london/v5.0.0/quick-0.0`, ran without any systematic shift of the quasar redshift along the line-of-sight, we still get a non-zero drp = Delta r_parallel:
`drp( z = 2.26) = 0.15 +/- 0.06 Mpc/h`.
It can be because of three things:
- In LyaCoLoRe or quickquasars, the definition of the Lya line is different from `1215.67`. @jfarr03, could you check the this possibility? A simple grep `121` cou

[2019-01-21 08:19] #39 closed

[2019-01-21 18:39] londumas commented on #36
Here is the status of this issue as of `london/v5.0.0/quick-0.0`:
- bias of lya is now the same in mocks and data
- beta of lya is quite different between mocks and data: data is around twice the mocks
- hence bias_eta is quite different between mocks and data: data is around twice the mocks

Thanks for the work on the bias of Lya @jfarr03, is there a way to work on the beta of Lya?

![bias_eta_ly

[2019-01-21 23:31] londumas commented on #41
Using the 10 realizations of `v4.0.<*>/quick-2.0`, I get:
`<drp> = 0.052 +/- 0.012 Mpc/h`
Here is a plot of the best fit values of drp as a function of mock index.

![drp_vs_index_mock](https://user-images.githubusercontent.com/3166436/51503706-c0998880-1d99-11e9-845e-afe12dfe2105.png)

[2019-01-22 01:09] londumas commented on #38
Here is the status of the chi2 for the auto and cross-correlation when fitting with `r \in [10,180]`,
for `v4.0.<*>/quick-2.0/` for the 10 realizations.

![cf_chi2_vs_index](https://user-images.githubusercontent.com/3166436/51506077-ac5c8800-1da7-11e9-9c3b-a56c64ebfb82.png)

![xcf_chi2_vs_index](https://user-images.githubusercontent.com/3166436/51506076-ac5c8800-1da7-11e9-96e6-ea8f60c6ebd1.png)

[2019-01-22 15:36] londumas commented on #41
@andreufont, I totally agree with all you just said.

[2019-01-22 21:52] londumas commented on #38
Adding the model from PR https://github.com/igmhub/picca/pull/504, i.e. a Gaussian smoothing of the P(k) improves the chi2 on the stack of 10 auto-correlations by `1085` and by `233` for the cross-correlation. However, it does not seem to be 100% of the effect, for example the region around the BAO peak is not well modeled:

![wedge_0](https://user-images.githubusercontent.com/3166436/51567668-02d

[2019-01-22 23:51] fjaviersanchez commented on #38
Thanks a lot! In CoLoRe the input isotropic linear power-spectrum from CAMB is convolved with the smoothing first as:

`new_Pk = CAMB_linear_Pk*(exp(-0.5*k**2*r_sm**2))`

Where `r_sm` is the input value from the CoLoRe parameter file. The problem is that the final product will have this smoothing + the smoothing within a cell (which is not strictly Gaussian but can be approximated as a Gaussian so

[2019-01-23 00:08] londumas commented on #38
@fjaviersanchez or @jfarr03, very good. What was the input `r_sm` in `v4.0.<*>`?

[2019-01-23 22:31] fjaviersanchez commented on #38
@londumas, sorry for the slow reply. I don't know the answer. I looked for the parameter file(s) in the mocks directory but I didn't see anything. I saw that in the repo the script `run_process_colore_multi_node.sh` sets `r_sm` to 2 Mpc/h. @jfarr03 do you have this information on hand?

[2019-01-24 09:35] andreufont commented on #38
Hi @londumas - Note that you don't expect to have a perfect match, since (as said by Javier) there is also the pixelization effect, similar to the "binsize" smoothing in picca fitter. For most runs James is using a cell size of 2.4 Mpc/h. But there is another thing missing in the modelling, and that is the log-normal transformation applied to the Gaussian field in the mocks.

When we transform the

[2019-03-15 14:58] londumas commented on #33
Update from `v6.0/v6.0.0`:

![relative_nb_DLA_per_forest](https://user-images.githubusercontent.com/3166436/54440502-75985380-4700-11e9-8a05-321ace6c2dd5.png)

[2019-03-15 15:01] londumas commented on #40
Update from `v6.0/v6.0.0`:

![DLA_too_close_QSO](https://user-images.githubusercontent.com/3166436/54440567-982a6c80-4700-11e9-91df-e36d44d62249.png)

![zoom](https://user-images.githubusercontent.com/3166436/54440710-dd4e9e80-4700-11e9-957a-b64c1df4f79d.png)

[2019-03-15 15:03] londumas opened #45 "Footprint of random mock DLA"
The footprint of mock DLAs and random mock DLAs is different.
Would it be possible to have the same footprint?

![footprint_DLA_random](https://user-images.githubusercontent.com/3166436/54440762-f48d8c00-4700-11e9-8835-e57f3ef9f222.png)

[2019-03-15 15:46] jfarr03 commented on #45
Sure, this shouldn't be hard. Does the footprint need to be precisely the same?

I ask as the QSO footprints aren't quite identical: the randoms use a strict DESI footprint whereas this version of the mocks extend a bit beyond this. If they need to be precisely the same then it may take a little longer but it is still doable of course.

[2019-03-15 16:45] londumas commented on #45
I think the easiest for me is that the footprint is the same in master.fits vs master_randoms.fits and in master_DLA.fits vs master_DLA_randoms.fits. Also you should keep track somewhere, even in an ascii of what seed you used, in order to use different ones for other realizations.
Is all that ok for you?

[2019-03-15 16:49] jfarr03 commented on #45
Ok I'll set up to make them the same then.

The seed is recorded in a couple of places, both when I run CoLoRe and then LyaCoLoRe

[2019-03-15 16:53] londumas commented on #45
@jfarr03, also when you produce the randoms?

[2019-03-15 16:53] jfarr03 commented on #45
Oh I see - I'm not sure that is recorded. I'll include that in the modifications

[2019-03-15 16:54] londumas commented on #45
@jfarr03, Thanks.

[2019-03-15 17:45] londumas opened #46 "MOCKID is not in master_randoms.fits"
This is not that important, but it would be useful to add `MOCKID` to the master_randoms.fits catalog.

[2019-03-18 10:40] andreufont commented on #40
Hi @londumas - As we discussed in the issue #25, it's not clear to me that there is a problem in the mocks, in the sense that it is unclear what the true distribution should look like.

The "data" plot is affected by observational artifacts: I would imagine that the difficulties in modelling the quasar continuum near the emission lines, and the presence of BAL-like features, makes it very difficul

[2019-03-19 21:34] londumas commented on #33
@fjaviersanchez and @jfarr03 is there a hard cut in the number of DLA per forest insterted for the data that is not there on the mocks?

[2019-03-19 21:39] londumas opened #48 "random DLA can have z > zqso"
random DLA can have z > zqso, @jfarr03 if I understood correctly in data, a DLA can not have z>zqso. However this aspect is not in the random DLA, @fjaviersanchez is it complicated? It is not crucial, but it would be nice to correct this aspect.
Same issue as here https://github.com/igmhub/SaclayMockFeatures/issues/14
Adding the plot:

![random_DLA](https://user-images.githubusercontent.com/316643

[2019-03-19 21:48] londumas commented on #40
@andreufont, I really agree on your remark on the shape of the distribution. We should not aim at reproducing the shape. However, I really don't understand how we can have DLA in the same cell as a quasar. If I understood correctly the cell size is of order ~2Mpc/h, then can we set a DLA at less than 2Mpc/h of the host quasar? I think that doing so, we basically add mock QSOs to the catalog of DLA

[2019-03-20 17:05] andreufont commented on #40
Well, quasars leave in massive haloes, and DLAs are common in massive haloes as well. It is not crazy to think that we'd have a fair amount of DLAs at small separations from quasars, either in infalling filaments or in satellite galaxies.

But yes, we can also add a hard cut at the minimum velocity separation between DLAs and quasars, and set it to something like 300 km/s (roughly 3 Mpc/h).

[2019-03-22 15:15] londumas commented on #41
Here is the status of the ticket as of `v6.0/v6.0.<*>/eboss-0.0/`:
[code]
where the value is the mean of the 10 realizations, and the error the `std/sqrt(10)`.
In parenthesis, I give the mean error and the mean error divided by `sqrt(10)`.
The first plot gives the best fit drp for each of the 10 realizations of the cross and the combined fit.
The second plot gives the slice along the line-of-sight

[2019-03-22 15:28] andreufont commented on #41
Hi @londumas , if you wanted to avoid quickquasars, you could compute the cross-correlation of the transmission files with the quasar catalog. No need to touch actual spectra.

[2019-03-22 15:29] londumas commented on #41
@andreufont, This is a good point, anyway I need to compute the undistorted correlation function.

[2019-03-22 21:57] londumas opened #50 "extra covariance in cross-correlation along the line-of-sight"
Looking at the stack of the 10 cross-correlations, we observe extra covariance along the line-of-sight than compared to the data and expected by direct computation (Wick).
The plots give the variance times the number of pairs:
 - as a function of bin index for data
 - the same for mocks
 - in 2d for data
 - the same for mocks

These plots give a indication that something is different between data

[2019-03-22 21:58] londumas commented on #50
I put this ticket there, because I have no idea if it is a picca or a LyaCoLoRe ticket, and that it is not observed in data.

[2019-03-22 22:47] londumas opened #51 "is beta_qso shifted"
This is another ticket, that could also be posted to picca, because we don't really know which is producing that.
The expected value of beta_qso, according to the file `Bz_qso_G18.txt` (that migh have changed @jfarr03?), and to the LCDM cosmo:
`beta_QSO(z=2.310) =  0.25798`.
We measure a beta_QSO a bit different.
`combined: <beta_QSO> = 0.24695 +/- 0.00092 (<0.0027>, 0.00086)`.
It is totally possi

[2019-03-22 22:50] londumas commented on #51
It can also simply be related to the difference in the correlation function at small scales, as shown there: https://github.com/igmhub/LyaCoLoRe/issues/31

[2019-03-29 22:25] londumas commented on #51
Using the Lya absorption in the Lyb region, we get the same results:
![betaQSO_withLybforest](https://user-images.githubusercontent.com/3166436/55265724-30673c00-523f-11e9-9925-d3dfdd35363f.png)

[2019-03-29 22:29] londumas commented on #41
Using the Lya absorption in the Lyb region, we get the same results, with more noise.
[code]
![drp_withLybforest](https://user-images.githubusercontent.com/3166436/55265803-79b78b80-523f-11e9-973e-a53256ed7f33.png)

![slice_xcf_withLybforest](https://user-images.githubusercontent.com/3166436/55265860-b5eaec00-523f-11e9-9749-7d0d717b0ce7.png)

[2019-03-29 22:30] londumas commented on #50
In the Lya absorption in the Lyb region, it is not observed for some reasons.
![var_xcf_withLybforest](https://user-images.githubusercontent.com/3166436/55265921-f9ddf100-523f-11e9-959c-b05ea449febf.png)

[2019-03-29 22:40] londumas commented on #36
Here is the status as of `v6.0/v6.0.<*>`.
The first two plots are for Lya absorption in Lya region, the second plot for Lya absorption in the Lyb region.

[code]

![bias_eta_lya_lyaforest](https://user-images.githubusercontent.com/3166436/55266101-e5e6bf00-5240-11e9-8ab7-429b7fdd55b0.png)
![beta_lya_lyaforest](https://user-images.githubusercontent.com/3166436/55266100-e5e6bf00-5240-11e9-9805-b9c74

[2019-03-31 00:41] londumas opened #58 "Speed of light should be from scipy.constants"
The speed of light should be `299792458.0` everywhere, there are no reason to make an approximation. Also it can produce such shift of the correlation function, see issue https://github.com/igmhub/LyaCoLoRe/issues/41.
The best way is to use `from scipy.constants import speed_of_light`, in order not to hard code it nor to cast it to smaller precision.
Doing simple grep, I get:
[code]
This ticket is

[2019-03-31 00:45] londumas commented on #58
It seems to explain part of the shift of https://github.com/igmhub/LyaCoLoRe/issues/41 `dv = 7.54 km/s`.
[code]

[2019-03-31 01:04] londumas opened #59 "Structure of repository"
The structure of the repository is a but messy, if I can be allowed to say that.
If you want this repository, and this code to live long, it might need a bit of clean-up so that anybody starting to use it, can understand easily how to navigate it and run it.
- The readme looks great, but it would be nice to have the code appear as such. You can look how to do that from the readme of picca, it is t

[2019-03-31 01:11] londumas opened #60 "constant file"
Searching for `grep "1215\." -ri *`, I get what follows.
In a same way, the optical depth parameters are hard codded:
https://github.com/igmhub/LyaCoLoRe/blob/1b1b03dbb9f274169e51092e85839f713ae9d936/py/lya_mock_functions.py#L39
so are the metal ones, ...

It would be very useful, to have a `constants.py` where all of these values are feed into.
What do you think? Of curse it is not at the top of

[2019-03-31 01:12] londumas commented on #58
@jfarr03, There might be other places where the speed of light is defined that I have not found.

[2019-03-31 10:16] andreufont commented on #59
Hi @londumas - I agree that James will have to do some work on the structure, it will help others to take over after his project.

[2019-03-31 10:18] andreufont commented on #59
Sorry, I wanted to cancel the comment that I was writing, and ended up closing the issue :-)

I wanted to say that I agree with @londumas , once we are happy with the final version of bias/beta tunning we should spend some time working on documentation and code structure. I think the goal should be to have a good public version by the time we put the paper online.

[2019-04-01 11:27] jfarr03 commented on #59
Yes I'd definitely agree with this - I'm trying to just keep it working and under control for now, but it will need a tidy up and restructure over the next few months before the paper is up!

[2019-04-01 11:31] jfarr03 commented on #58
@londumas the speed of light isn't used anywhere explicitly in LyaCoLoRe's scripts to produce the mocks - the instance you found isn't used anywhere other than very old examples. I'll correct it nonetheless but it won't be affecting the realisations.

It is almost certainly used in CoLoRe somewhere, though, so I'll have to check exactly what is used there.

[2019-04-01 11:38] jfarr03 commented on #60
@londumas I think all of the above bar py/utils.py are old examples. The instance in py/utils.py is the one that is used globally in the production of new realisations (i.e. at the start of each script, lya = utils.lya_rest is defined). These will all be cleared out in due course!

A constants.py file would be nice, though is it necessary if there's only 1 constant? I guess it could have all of th

[2019-04-01 11:51] jfarr03 commented on #36
@londumas thanks for all of these plots, they look great!

I'm guessing that the horizontal lines correspond to averages of the different types of correlations? Would it be possible to match the colours of the lines to the points for the individual realisations? It's a minor thing but it'd make them easier to read I think!

Could you also confirm what redshift these are measured at? And how many s

[2019-04-01 13:03] londumas commented on #58
Ok. Could you send the link to the CoLoRe code ?

Le lun. 1 avr. 2019 à 05:31, jfarr03 <notifications@github.com> a écrit :

[2019-04-01 13:31] londumas commented on #58
@jfarr03, is that the one: https://github.com/damonge/CoLoRe?

[2019-04-01 17:01] londumas commented on #60
@jfarr03, even with one constant it is useful. But there are more than 1 I bet: the bias of QSo, the bias of DLA, the optical depth parameters, ...

[2019-04-01 17:01] londumas commented on #60
And indeed the metal lines also.

[2019-04-01 17:08] londumas commented on #58
Doing some `grep`s the only thing I found that looks like the spped of light is the following, that seems ok, but has strange units.
https://github.com/damonge/CoLoRe/blob/43abfec9230bd6f37ec3498d499cc61195cb1e5d/src/cosmo_mad.h#L35

[2019-04-01 17:14] jfarr03 commented on #58
Yes sorry that's the right link - it seems like it's ok but you're right, the units are odd!

[2019-04-01 17:18] londumas commented on #58
I just open a ticket there: https://github.com/damonge/CoLoRe/issues/38 to better understand what it is.

[2019-04-02 20:58] londumas commented on #50
This is also observed in the cross-correlation of the raw field:

![variance_in_raw](https://user-images.githubusercontent.com/3166436/55435647-8a297800-5557-11e9-9b87-6f7b5e17521c.png)

![raw_cross](https://user-images.githubusercontent.com/3166436/55435768-ca88f600-5557-11e9-8d83-c086e3b28226.png)

[2019-04-02 21:14] londumas opened #61 "master_randoms.fits has no EXTNAME"
It would be useful and more robust to add an extname to the same as their mock data counterparts.
 - `CATALOG` for master_randoms.fits
 -  `DLACAT` for master_DLA_randoms.fits

[2019-04-02 22:57] londumas commented on #50
@jfarr03 and @andreufont, and also @jmarclegoff and @TEtourneau , I have a guess on what it is:
If I understand correctly how the mocks are done, you have:
 - a box of resolution ~2Mpc/h -> delta_large_scale
 - to add smaller scales, you add uncorrelated small scales with the proper power spectrum -> delta_small_scale
 - This gives you delta = delta_large_scale+delta_small_scale
 - I seem to remem

[2019-04-03 03:57] londumas commented on #32
@fjaviersanchez , we will actually need to add low NHI DLA to the mocks, it has been studied in DR12 paper to have an impact of the auto-correlation of Lya. I don't know currently down to which value, but as soon as I know I tell you. Would it be hard to updated that?

[2019-04-03 07:27] TEtourneau commented on #50
In our mocks, we cannot have 2 QSO in the same cell.
The only thing that can happen is that 2 QSO are drawn in 2 adjacent cells, and then the random placement inside each cell makes the QSO to be very close to each other. But even if they are very close, they are in a different cell.
@jfarr03 @andreufont Is that the same for you ?

Maybe we can check this in our mock, to see if the feature is also

[2019-04-03 15:45] londumas commented on #32
Page 5 of Bautista et al, https://arxiv.org/pdf/1702.00176.pdf,
[code]
@fjaviersanchez, can you set the minimum to be 17.2? At the same time we need to keep the following ratio of NHI>20 the same.

![ratio_DLA_qso](https://user-images.githubusercontent.com/3166436/55492810-176eda00-55f5-11e9-960d-ee9bbd7391fc.png)

[2019-04-03 16:32] fjaviersanchez commented on #32
@londumas I just updated the code in LyaCoLoRe. @TEtourneau, please feel free to change the `Nmin=20.0` values to `Nmin=17.2`.

[2019-04-03 16:34] londumas commented on #32
@fjaviersanchez, thanks. @jfarr03, could you send a production of the DLA catalog.
No need yet for updating the transmission files.

[2019-04-03 20:47] londumas commented on #51
The following plot was requested by @andreufont and shows the evolution of the best fit beta_qso in the combined fit of the stack of 10 auto + 10 cross (Lya+Cont+Noise), as a function of the minimum distance of the fit: `rmin`. The different lines show the different values expected for effective redshift (orange), the minimum and maximum redshift of the bins of the auto (green and red) and the sam

[2019-04-04 06:30] andreufont commented on #51
That's great!

If you worried about z_eff, you could measure the cross-correlation on a small redshift range (say 2.3 < z < 2.5), but I would do this type if testa on the transmission files where the measurement is less noisy.

[2019-04-09 13:18] londumas opened #62 "Save Pk in code or/and in repository production"
Save P(k) in code or/and in repository production. Where is it saved for the moment?

[2019-04-09 13:22] londumas commented on #62
We also need to save the intup parameters of CAMB and the parameters (Omega_m) used in the box to transform z to r

[2019-04-15 09:27] jfarr03 commented on #32
@londumas Do you mean for v6.0.0? The DLAs are generated alongside the skewers at the moment and generating a new catalog just collects the DLAs from each of the transmission files. To generate new DLAs with the different Nmin value would mean generating a new set of skewers (v6.1.0). Is this what you would like?

[2019-04-15 09:37] jfarr03 commented on #62
@londumas by P(k) I assume you mean the input power spectrum to CoLoRe? At the moment the input power spectrum and cosmological parameters (as well as N(z), b(z) of QSOs) are not stored in LyaCoLoRe, but I've been intending to add them for a while. It shouldn't take much effort but other things have been prioritised recently! I'll try to do it today so this can be ticked off.

[2019-04-15 13:07] londumas commented on #32
I mean fix that so in the next production it will be ok.

Le lun. 15 avr. 2019 à 03:27, jfarr03 <notifications@github.com> a écrit :

[2019-04-15 13:09] londumas commented on #62
Yes ghe input P(k) so that I can be exactly sure of what you guys use. The
best would be to also sqve the .ini of CAMB and an ascii with redshift and
distance from 0 to 4. To see if we agree on the computation of distances

Le lun. 15 avr. 2019 à 03:37, jfarr03 <notifications@github.com> a écrit :

[2019-04-15 13:39] jfarr03 commented on #62
Ok sure - I don't know where the CAMB .ini file is stored but I'll try to find out. The redshift-distance relation is stored in the master.fits file at the moment: the extension "COSMO_COL" contains the data from CoLoRe and the extension "COSMO_EXP" contains the "expanded" data (i.e. smaller cells) in LyaCoLoRe

[2019-04-15 13:41] londumas commented on #62
ok, at least the P(k) is good. but the .ini is even better because anybody in 10 years will be able to reproduce exactly the output. Can you send me via email the P(k) or tell me where to find it?

[2019-04-15 15:08] londumas commented on #62
@jfarr03, Storing the redshift-distance relation in the master is a very good idea.
It would be good if you could add Some comments and the dimension to each variable in `COSMO_COL` and `COSMO_EXP`.
Looking at this I think it would make a lot of sense to store the P(k) in master.fits also, in an other HDU, with the cosmological parameters in the header.
What do you think?

[2019-04-15 15:12] londumas commented on #62
@jfarr03, why do you need a different `COSMO_COL` and `COSMO_EXP`. Is the cosmology different in big and small cells?

[2019-04-16 20:10] londumas commented on #62
@jfarr03, here are the results of BAO measurement on the simulations.
Where the first column is alpha_parallel, the second alpha_perp.
For the two columns, I give the mean, then std/sqrt(10), then the mean error and then the mean error / sqrt(10).
There is a small, compatible with statistics, shift of alpha_parallel.
That is one of the reason I would need the power spectrum, so I can see if it is

[2019-04-16 20:31] londumas commented on #62
Here is the comparison between the distances computing using picca and from the master.fits:
![distances](https://user-images.githubusercontent.com/3166436/56241900-46a13480-6054-11e9-83f6-02f0a8d41a3f.png)

[2019-04-17 08:43] andreufont commented on #62
Hi @londumas - what version of the mocks are you using? is this on the eBOSS footprint, I assume, or in the full sky?

[2019-04-17 12:57] londumas commented on #62
I used the last 10:  v6.0

Le mer. 17 avr. 2019 à 02:43, Andreu Font-Ribera <notifications@github.com>
a écrit :

[2019-04-25 16:13] londumas opened #63 "Add Codacy and Travis checks"
@jfarr03, would you be ok if I add Codacy checks to LyaCoLoRe? The goal of Codacy is to look at imperfections in the code, it can go from unused variables, which can be a source of bugs, to trailing spaces that are just annoying. Is that ok for you?
Also I think that it would be very nice to have a simple Travis test to check that all changes are not breaking anything.

[2019-05-01 16:24] jfarr03 commented on #62
The input data to CoLoRe is now stored in the directory "run_CoLoRe". The input bias and number density of QSOs, as well as the input power spectrum is in the sub-directory "input_files", and the cosmological parameters are readable from the script run_CoLoRe.sh.

I don't have a .ini file from CAMB I'm afraid, but I believe that I got the input power spectrum from picca a while ago (it doesn't see

[2019-05-01 16:28] londumas commented on #62
@jfarr03, thank you for that.
I will have a look.

[2019-05-01 16:32] londumas commented on #59
@jfarr03 and @TEtourneau , here is what we do for picca:
 - bin: executables, e.g. picca_cf.py
 - data: results from running the code, e.g. correlation_DR12
 - docs: necessary to get the automatic doc (not yet implemented)
 - etc: necessary files to run the code, e.g. Lyacolore power spectrum
 - py/picca: library, e.g. picca_cf.py
 - tutorials: tutorials to run and analyse: e.g. jupyther and scrip

[2019-05-01 17:45] londumas commented on #62
@jfarr03, it is perfect. The difference between your P(k) and the one output by CAMB, using picca .ini file is very small. Everything looks good.
![difference_of_pk](https://user-images.githubusercontent.com/3166436/57031987-69ac1680-6c06-11e9-84b4-c1a503aa8ff0.png)

[2019-05-01 17:45] #62 closed

[2019-05-01 22:01] londumas commented on #59
@jfarr03, it would be also useful to add a version, as I have implemented in picca, so that we can tag before sending 100 mocks, and know very well with which version the production was made.

[2019-05-02 11:34] jfarr03 commented on #63
Yeah sure that's fine!

[2019-05-02 19:53] londumas commented on #63
@jfarr03, done. Please find the report there: https://app.codacy.com/app/londumas/LyaCoLoRe/issues/index?bid=12558880

[2019-05-03 15:23] londumas commented on #59
@jfarr03, I would like to test if I can run on my laptop the code, what command line should I send?

[2019-05-08 14:28] londumas opened #71 "store transmission down to 3476.20"
store transmission down to 3476.20, following the discussion on adding SiII(1260)

[2019-05-09 11:19] jfarr03 commented on #71
@londumas Can you explain where this number comes from again? Unless I'm mistaken, the wavelength cut required to observe SiII from 3600A on is given by:

3600*lambda_Lya/lambda_SiII = 3600*1215.67/1260 = 3473.34A

As such, would it be wise to choose a value just below this? Say 3470A, or 3450? Any value is fine in terms of LyaCoLoRe.

[2019-05-09 11:21] andreufont commented on #71
Let's use 3470A,

[2019-05-09 11:23] andreufont commented on #71
Sorry, I keep clicking on the wrong button on Github!

I was going to say that 1260A was probably just an approximation, the actual wavelength must have some decimal digits.

I wouls just use 3470A and move on for now.

[2019-05-09 11:25] jfarr03 commented on #71
Sure - the value stored in LyaCoLoRe/py/metals.py is 1260.42, which gives 3472.19 as the minimum. I'll use 3470 for now but can easily change for any future versions of course.

[2019-05-09 15:47] jfarr03 commented on #71
One final clarification before I generate a new version: would we like to extend the wavelength range of the actual transmission files? Or just extend the skewers calculated within LyaCoLoRe and then use the same observed wavelength cut for the transmission files?

As long as the longer skewers are calculated within LyaCoLoRe, the problem will be solved, and maintaining the current transmission fi

[2019-05-09 15:51] andreufont commented on #71
Hi @jfarr03 - We should write to the transmission files everything to 3470A.

Quickquasars will use the Lyman alpha absorption in the range (3470A,3600A) to compute the SiII(1260) absorption in the range (3600A,X). The output of quickquasars will indeed be limited to 3600A, but in order to do that we need a longer transmission file.

By the way, @londumas - why did you choose 3600A? Isn't it true

[2019-05-09 15:56] jfarr03 commented on #71
Ah yes I forgot that the metals were being added via quickquasars for the moment and that needs the Lya absorption in the wavelength range. Once we use the metals within LyaCoLoRe storing the extra range won't be necessary any more as long as the skewers are kept sufficiently long internally.

[2019-05-09 16:07] andreufont commented on #71
Exactly.

[2019-05-09 16:11] londumas commented on #71
We can go lower than 3600 A for DESI, I used 3600A because that is what we use in eBOSS DR16 and in picca by default, and I did not want to ask for more than I need. But the more the better :) I have no strong opinion.

[2019-05-09 16:17] jfarr03 commented on #71
So for now I'll use 3470A as the cut (storing Lya absorption all the way to this wavelength), which will produce SiII absorption from 3597A onwards. In future, any value is possible, and the cut can be altered in relation to the transmission file range so that there is no sudden start/stop of metal absorption.

[2019-05-09 16:22] andreufont commented on #71
@londumas - It might be good to print a warning flag in quickquasars if someone is trying to compute a metal absorption for a pixel corresponding to a metal wavelength that does not exist in the transmission file.

[2019-05-09 16:23] londumas commented on #71
@andreufont, very good idea. I take care of that.

[2019-05-10 14:26] jfarr03 commented on #59
If you modify the input options in "run_process_colore.sh" appropriately then simply executing that script should do the job. You'd need to download some CoLoRe output onto your laptop first - if you just want a very quick test then the file `LyaCoLoRe/example_data/raw_colore_1000/out_srcs_s1_0.fits` should do the job.

[2019-05-10 17:41] londumas commented on #59
Would this code run on ant machine?
Could you give me the full series of command oine to produce a small bix
for the tests? I will set it up.

Le ven. 10 mai 2019 à 08:26, jfarr03 <notifications@github.com> a écrit :

[2019-05-10 17:45] jfarr03 commented on #59
Would you like to run CoLoRe on your machine? You can do but it's not feasible to generate large skewers because of the memory requirements - NERSC or similar is required for that.

Just using `./run_process_colore.sh` will run on your machine as long as you change all of the options so that they point to the right places. I can try and set most of it up and then you could just add the paths you w

[2019-05-10 18:52] londumas commented on #59
In order to set up the tests, we need to run the code. Even a very small
box would do the job. Would that be possible or too much work?
And yea it is better if you set up the comnand line.

Le ven. 10 mai 2019 à 11:45, jfarr03 <notifications@github.com> a écrit :

[2019-05-10 19:14] jfarr03 commented on #59
Sure - the file I mentioned before `LyaCoLoRe/example_data/raw_colore_1000/out_srcs_s1_0.fits` contains 1000 output skewers from CoLoRe, so I think that should do the job.

I guess it depends on exactly what the tests will do. Do you have an idea of this? Then we can determine how many skewers we need etc to test it.

[2019-05-10 23:28] jfarr03 commented on #59
There were some issues with running `run_process_colore.sh` so I made a new script `run_process_colore_example.sh` which should run very straightforwardly. All you would need to do is edit the first couple of lines to make sure it knows the path to LyaCoLoRe and how many processors to use. It returns a couple of errors for me relating to DLAs at the moment but I'm not sure why - I'll work on that

[2019-05-12 21:20] londumas commented on #59
@jfarr03, I do not have the time to have a look at the file. Here is what I think the tests should do:
 - run CoLoRe to get a small box (is that possible)
 - run LyaCoLoRe to get the spectra and the qso, rand-qso, dla, rand-dla catalogs
 - compare the version of the branch of these files to their reference one in master, and see if they are the same.
What do you think?

[2019-05-17 16:07] londumas commented on #58
@jfarr03, could you fix the following line, and then we can close:
`igmhub/LyaCoLoRe/py/lya_mock_functions.py:        c_kms = 2.998e5`
I know it is not used, but let's fix that so it does not show up.
Thanks for the help.

[2019-05-17 16:17] londumas commented on #36
@jfarr03, if I understood correctly the last presentation, this is fixed. Could you add a plot and then we can close the ticket?

[2019-05-17 16:17] londumas commented on #32
Fiked in latests versions

[2019-05-17 16:17] #32 closed

[2019-05-17 16:20] londumas commented on #23
good enough

[2019-05-17 16:20] #23 closed

[2019-05-17 16:31] londumas commented on #71
fixed in v7.0:
[code]

[2019-05-17 16:31] #71 closed

[2019-05-17 16:47] jfarr03 commented on #36
It's fixed to some extent, in that we know how to boost bias_eta. The results still don't match data exactly, but we haven't tried to match to data very precisely until we determine exactly what data we should match to (i.e. DR12 or 14)

[2019-05-17 16:53] londumas commented on #36
Could you put some plots on the ticket? From what I have seen it is fixed, as far as a ticket goes.

[2019-05-17 20:44] jfarr03 commented on #36
@londumas sure good idea. Please find below:

Plots showing that the biases in v7.0.0 are close to BOSS DR12 values:
[biases_40r_afixed.pdf](https://github.com/igmhub/LyaCoLoRe/files/3193028/biases_40r_afixed.pdf)
[beta_biases_40r_afixed.pdf](https://github.com/igmhub/LyaCoLoRe/files/3193031/beta_biases_40r_afixed.pdf)

Evidently the match is not exact, but it can be improved upon with relative ea

[2019-05-17 20:45] jfarr03 commented on #58
@londumas fixed in commit https://github.com/igmhub/LyaCoLoRe/commit/4ed3ebff13de5f2aed4ff9318ae4fa7b6000839a

[2019-05-17 20:46] londumas commented on #36
Good, do you have a plot of the 4 wedges of the correlation function: mock and data? We can end the ticket with that.

[2019-05-17 20:47] #58 closed

[2019-05-17 20:47] londumas commented on #58
@jfarr03, thanks

[2019-05-17 21:30] jfarr03 commented on #36
Indeed:
![cf_40r_afixed_piccafit_v7 0 0](https://user-images.githubusercontent.com/15346565/57957200-68136b80-78f3-11e9-9755-1b5ad1e145db.png)

[2019-05-17 23:37] londumas commented on #36
Fixed in v7.0

[2019-05-17 23:37] #36 closed

[2019-05-17 23:37] londumas commented on #36
@jfarr03, thanks for the work.

[2019-05-31 15:06] jfarr03 commented on #46
@londumas is this used for anything at the moment? I've just set the MOCKID column to integers from 0 to the number of random QSOs - should that do the job?

[2019-05-31 15:08] londumas commented on #46
@jfarr03, This solution works perfectly. MOCKID is used to test if two objects are the same, and if it is the case reject the pair in the correlation function computation. So your solution is perfect.

[2019-05-31 15:13] jfarr03 commented on #46
Great, that's included in commit e7626d9, and I'll generate a new set of randoms for v7.3.0 shortly.

[2019-05-31 15:14] londumas commented on #46
@jfarr03, good tell me when it is done and I will test them.

[2019-05-31 16:44] jfarr03 commented on #46
@londumas a new random QSO file is generating now - it's quite slow as there's a lot of them in there but it should be done soon.

[2019-05-31 16:45] londumas commented on #46
could, keep me up to date when it is done.

[2019-06-03 13:03] londumas commented on #61
fixed in `/global/projecta/projectdirs/desi/mocks/lya_forest/develop/london/v7.3/v7.3.0/master_DLA_randoms.fits` and `/global/projecta/projectdirs/desi/mocks/lya_forest/develop/london/v7.3/v7.3.0/master_randoms.fits`. Thanks @jfarr03.

[2019-06-03 13:03] #61 closed

[2019-06-03 13:16] londumas commented on #48
fixed in `/global/projecta/projectdirs/desi/mocks/lya_forest/develop/london/v7.3/v7.3.0/master_DLA_randoms.fits`
![distrib](https://user-images.githubusercontent.com/3166436/58804583-7211bb80-85cf-11e9-9ea9-7eb808b60ee1.png)

[2019-06-03 13:16] #48 closed

[2019-06-03 13:22] londumas commented on #33
fixed in `/global/projecta/projectdirs/desi/mocks/lya_forest/develop/london/v7.3/v7.3.0/master_DLA_randoms.fits`
![distrib](https://user-images.githubusercontent.com/3166436/58804975-578c1200-85d0-11e9-92a4-62fddf7e406b.png)

[2019-06-03 13:22] #33 closed

[2019-06-03 13:25] londumas commented on #45
fixed in `/global/projecta/projectdirs/desi/mocks/lya_forest/develop/london/v7.3/v7.3.0/master_DLA_randoms.fits`:
![footprint](https://user-images.githubusercontent.com/3166436/58805141-b3ef3180-85d0-11e9-8f8c-ed75ec831b02.png)

[2019-06-03 13:25] #45 closed

[2019-06-03 13:37] londumas opened #82 "TRANSMISSION no longer in transmission-16-*.fits files"
@jfarr03, I see that `TRANSMISSION` no longer is in `/global/projecta/projectdirs/desi/mocks/lya_forest/develop/london/v7.3/v7.3.0/0/0/transmission-16-0.fits` files. Is that permanent, or is that for a test?
[code]

[2019-06-03 13:41] londumas commented on #46
fixed:
[code]

[2019-06-03 13:41] #46 closed

[2019-06-03 14:35] londumas opened #83 "n(z) mock random quasars distribution tails"
The high and low tails of the quasar distribution are different between mock quasars and random mock quasars.

![nz_all](https://user-images.githubusercontent.com/3166436/58810034-5364f200-85da-11e9-807f-c6e06b362290.png)

![nz_low_tail](https://user-images.githubusercontent.com/3166436/58810031-5364f200-85da-11e9-8770-2f867c8b69bf.png)

![nz_high_tail](https://user-images.githubusercontent.com/31

[2019-06-03 14:40] londumas opened #84 "n(z) mock random HCD distribution low z tail"
The low z tail, and the overall z distribution of HCDs is different between mock HCD and random mock HCD.
With @TEtourneau, we have seen that it could be linked to the clustering of mock HCD compared to the lack of clustering of random mock HCD. One way to fix that is to down-sample the mock random distribution to the mock distribution.

![all_nz](https://user-images.githubusercontent.com/3166436/

[2019-06-03 15:00] londumas opened #85 "same MOCKID in mock QSO and random mock QSO"
Between mock QSO and random mock QSO, some have the same MOCKID.
This should not be the case since it leads to rejecting these pairs `RD` when computing the auto-correlation of quasars. @jfarr03 could you fix that? How do you assign MOCKID? randomly or according to the cell the quasar is in? I bet the first option since two objects with the same MOCKID do not have the same RA, DEC.

[code]

it giv

[2019-06-03 15:35] londumas commented on #40
Here is the status in `/global/projecta/projectdirs/desi/mocks/lya_forest/develop/london/v7.3/v7.3.0/`.
I would advocate to not fix it, but leave this ticket open, so we just remember it exists.

![distribution_dv](https://user-images.githubusercontent.com/3166436/58813391-e6a12600-85e0-11e9-8fbc-0125d5189541.png)
![zoom](https://user-images.githubusercontent.com/3166436/58813392-e6a12600-85e0-11e

[2019-06-03 16:55] jfarr03 commented on #83
@londumas this should be fixed in the latest version, which should replicate the shape of masterRSD exactly

[2019-06-03 17:40] londumas commented on #83
Indeed, fixed. Thanks @jfarr03.
Can you also fix ticket https://github.com/igmhub/LyaCoLoRe/issues/85, then I will compute the auto-correlation and see if everything is good.
On a side note, could you tell me how you did the correction, so I can learn a bit? Also did you understand the `z=3.8`?

![low_z_tail](https://user-images.githubusercontent.com/3166436/58822159-10b01380-85f4-11e9-83db-26e3b0

[2019-06-03 17:41] #83 closed

[2019-06-03 18:17] jfarr03 commented on #83
No worries @londumas!

Basically it was because I was generating redshifts for the randoms from the input n(z) data file, whereas now the effective n(z) of the randoms is measured from the redshifts of the QSOs in the master file including RSDs.

At the low-z end, the QSOs in the mocks are cut hard at 1.8 in Z_QSO_NO_RSD. When you then add in RSDs, it makes the boundary fuzzy, whereas the randoms

[2019-06-03 18:18] jfarr03 commented on #83
And yes, I'll fix #85 shortly - I'm currently working on #84 so will finish that first!

[2019-06-03 18:19] londumas commented on #83
@jfarr03, all sounds great. Thanks.

[2019-06-04 08:25] jfarr03 commented on #85
@londumas this should be fixed in the latest version: the randoms have MOCKID starting at 10^10, whereas the QSOs from the mocks are always less than 3.2*10^9

[2019-06-04 08:41] andreufont commented on #85
Hi @jfarr03 - this looks good, but just in case I would add a check that the number of QSO is always less than 1e10, and make the code crash if this is not the case.

[2019-06-04 08:44] jfarr03 commented on #85
Sure - I don't think it will be an issue for anything we'll be doing, but I'll add a warning flag to the randoms script if this is not the case for whatever reason.

[2019-06-04 08:48] andreufont commented on #85
yes, I think this is only relevant for future runs (someone might want to generate mocks that extend to very low-z, to add CIV or whatever. In these type of cases, it is always better to raise VauleError than to print a warning.

[2019-06-04 09:02] jfarr03 commented on #85
It is always possible to raise a warning and then just increase the starting value of the randoms' MOCKID? Or just raise an error as you suggest

[2019-06-04 09:24] andreufont commented on #85
What is the maximum value for MOCKID that the code would be able to handle? I'd first check what is the largest integer than python and FITS files can handle. You want to find a setting that can satisfy two conditions:
 - no qsos with the same value of MOCKID (either mock or random qso)
 - no quso with MOCKID larger than the maximum that can be handled by python or FITS.

You can code this up in m

[2019-06-04 09:33] jfarr03 commented on #85
I don't think there's a maximum value integer in python 3, though I'm not sure about FITS files so I'll check that.

This is also relevant to the DLAID assigned to random DLAs I guess - it is more likely to be an issue there as the DLAs in the mocks are given DLAID = MOCKID*100 + (DLA_IN_SKW_ID) where DLA_IN_SKW_ID is an integer that labels the DLAs in each skewer from 0 upwards.

At the moment ra

[2019-06-04 10:06] jfarr03 commented on #85
It seems FITS can handle 64-bit integers, so the maximum is ~10^18.96, so these numbers should be well within that. I'll add in an error if any of the ID numbers exceed this

[2019-06-04 11:18] jfarr03 commented on #84
@londumas I think this looks good at the high-z end? At the low-z end the issue is mostly because the master_DLA file contains DLAs at wavelength lower than the minimum wavelength of the skewers as a result of the order in which various operations are carried out by LyaCoLoRe.

It's fixed in the code now, so future versions of the mocks won't have this issue. In the meantime, I've generated random

[2019-06-04 11:41] jfarr03 commented on #84
Actually, I'm generating a new version now which I think will be more precise, so let's wait for that to finish!

[2019-06-04 12:19] londumas commented on #85
Fixed. Thanks @jfarr03 and @andreufont .

[2019-06-04 12:19] #85 closed

[2019-06-04 12:22] londumas commented on #84
@jfarr03, looks good now, even if not perfect. Am-I using the latest file? If yes, it is good enough to me.

![all](https://user-images.githubusercontent.com/3166436/58878644-f7a97000-8690-11e9-8124-fe9f5ac9ad06.png)

![low_z](https://user-images.githubusercontent.com/3166436/58878645-f7a97000-8690-11e9-9384-0151a8e99f03.png)

![high_z](https://user-images.githubusercontent.com/3166436/58878647-f8

[2019-06-04 12:24] jfarr03 commented on #84
Yes this looks like the latest version. As I say - there's a new version running now, which I think will be better still. I'll check that once it's finished running and will update on here

[2019-06-04 12:25] TEtourneau commented on #84
@jfarr03 Do you still use the numpy.random.choice function to produce the random DLA ?
Is the redshift of the random DLA lower than the host QSO ?

[2019-06-04 12:27] londumas commented on #84
@TEtourneau, to the last question I can answer. In the lasts plots of ticket https://github.com/igmhub/LyaCoLoRe/issues/40, you can see that indeed mock DLA and random mock DLA have z<z_QSO, which is very good.

[2019-06-04 12:42] jfarr03 commented on #84
@TEtourneau yes as @londumas said, the DLAs all have z_DLA<z_QSO.

I don't use numpy.random.choice for getting z_DLA_rnd any more, however it is used to assign each DLA to a QSO. The two options to get the z_DLA_rnd are:

 - "from_catalog": measure dn/dz from the real DLA catalog, draw z_DLA_rnd from that distribution, place the DLAs in QSOs with z_DLA<z_QSO at random
 - "cdf": use pyigm to get dn

[2019-06-04 12:45] TEtourneau commented on #84
I'm having a look to the code, thanks.
Is that code long to run ?

[2019-06-04 12:50] jfarr03 commented on #84
It depends on the value you choose for "factor" - if you go for factor=10, then it does take a while but that's generating ~25*10^6 DLAs. If you go for factor=0.1 instead, then it runs in less than a minute.

[2019-06-05 12:05] jfarr03 commented on #82
@londumas Yes this was discussed at a couple of recent telecons I think - for the purposes of tuning the strengths of metal absorbers, it's easier to have each metal's absorption stored in a separate HDU. The idea is that then one realisation can be made and you can choose which metals to add when running quickquasars with an option that looks something like:

`--add-absorbers SI1260 SI1207`

Obvi

[2019-06-05 12:08] andreufont commented on #82
There are two different things:
 - changes in how to add metals from file, using an individual HDU for each metal.
 - changes in how to add LyA and LyB, using an individual HDU for each, instead of the old TRANSMISSION HDU that had both together.

This allows us to use the same transmission file to generate mocks with only LyA, and mocks with LyA and LyB.

For now, I would just add a quick try / c

[2019-06-05 12:10] londumas commented on #84
fixed, thanks @jfarr03

[2019-06-05 12:10] #84 closed

[2019-06-21 14:55] londumas commented on #82
changed for "F_LYA" and works.

[2019-06-21 14:55] #82 closed

[2019-06-21 14:56] londumas opened #86 "Tag the version used to produce v8.0"
Tag the version used to produce v8.0

[2019-06-26 18:02] londumas commented on #86
done, thanks @jfarr03.

[2019-06-26 18:04] #86 closed

[2019-06-26 18:09] londumas commented on #41
@jfarr03, this is still there in v8.0. I bet it is real.
Here is a simple test you could look at: plot the large scale delta field and the transmission and on top of it the position of the quasar found. We should always see it on the peak of the delta_gaussian, if it is shifted then it would explain. I would do that for one, then for a stack of 10,000 and then for a stack of 10,000 with (zqso+rsd)

[2019-06-26 19:18] londumas commented on #41
Here is the stack of the transmission, we can see in both cases that the maximum is not at `lRF = 1215.67`. Would be interesting to get the same lot for delta_gaussian.
 - first plot: with quasar RSD
 - second plot without quasar RSD

![stack_transmission_zqwithrsd](https://user-images.githubusercontent.com/3166436/60207940-51c2ce80-9814-11e9-8c13-116ece107bda.png)

![stack_transmission_zqnorsd](h

[2019-06-26 19:22] londumas commented on #41
Similar plots for the Saclay mocks do not present a strong peak but a slope, does not mean either that it is ok their, but it is different: https://github.com/igmhub/SaclayMocks/issues/11. @TEtourneau and @jmarclegoff, did you find any bugs that could cause such an issue? @jfarr03, examples of such an effect are: wrong definition of Lyman-alpha, grid center vs. grid edge, speed of light...

![stac

[2019-06-26 19:52] jmarclegoff commented on #41
Julianna has confirmed with 10 mocks the shift you observed with one mock.
We did not find any bug to explain the issue.
Some thinking or questions :
- I would have expected that the RSD would smooth the curves of delta and T versus lambda, while if the first plot is with RSD and the second without, RSD seems to sharpen the curve.
- We should not consider T above 1215.6, which is unity by construc

[2019-06-26 20:06] londumas commented on #41
@jmarclegoff,
 - @jvstermer, could you update the results for the saclayMocks? It is in this ticket: https://github.com/igmhub/SaclayMocks/issues/11.
 - I think it is sharper because T(lRF>1215.67)=0 by definition. but I agree that it should be the contrary if we look at delta_gaussian.
 - I totally agree that we should normally look at lRF<=1215.67. I simply wanted to look at the overall shape.

[2019-06-26 22:05] jfarr03 commented on #41
@londumas thanks for looking into this, it's very interesting. Would you be able to produce the plots of stacked F/delta with a finer binning in lambda? The plot without RSDs shows F=1 for all points above 1215.67, and it's not clear that <F>(lambda_rest=1215.67) is not 1.

I suspect that the issue could be to do with the QSOs being placed randomly in the CoLoRe cells, and how this is then handled

[2019-06-26 22:29] londumas commented on #41
@jfarr03, nice catch, indeed T is not 1 at lRF>=1215.67 A:
 - with RSD
 - no RSD

![stack-withRSD](https://user-images.githubusercontent.com/3166436/60219352-5a74ce00-982f-11e9-839f-8de471f6b53b.png)

![stack-noRSD](https://user-images.githubusercontent.com/3166436/60219350-59dc3780-982f-11e9-86e3-f55c257e78f8.png)

[2019-06-26 22:34] jfarr03 commented on #41
@londumas Great thanks for checking. I'm pretty sure that this is a bug to do with the placement of the QSO in each cell - I'm working on it now. Do you have a script to generate these plots handy somewhere so I can test for myself?

[2019-06-26 22:35] londumas commented on #41
@jfarr03, you can do that with the jupyther note book: https://github.com/igmhub/desi_QA/blob/master/Mocks/QA_plots.ipynb, section "Lya Transmission".

[2019-06-26 22:36] jfarr03 commented on #41
Perfect, thanks!

[2019-06-26 22:38] londumas commented on #41
@jfarr03, how do you think "the placement of the QSO in each cell" can get this non zero `drp` ? If you say it is random? Maybe it is flat random in z but not in flat random in comoving distance or something like that?

[2019-06-26 22:48] jfarr03 commented on #41
@londumas I think it is to do with the way LyaCoLoRe handles interpolating to the small cell size: when it does so, it needs to ignore the new, small cells that are "invalid" as they are behind the QSO, even though they came from a "valid" CoLoRe cell (the one that the QSO was in).

[2019-06-26 23:35] jfarr03 commented on #41
Actually I think the issue might be slightly different - there's several different interpolations that go on so I'm going to debug them one by one! I'll let you know when I have results.

[2019-06-26 23:36] londumas commented on #41
ok, thanks @jfarr03.

[2019-06-27 10:52] jfarr03 commented on #41
@londumas I fixed a couple of bugs last night, and have now looked into this a little more this morning. I believe the plot below helps to explain the situation. There's quite a lot of explanation needed for it, so please forgive the very long comment, but hopefully it's helpful!

The plot shows F vs lambda_rest for one spectrum with/without QSO RSDs, and with/without skewer RSDs. The points repre

[2019-06-27 14:13] londumas commented on #41
@jfarr03, Thanks for looking into this:
 - first of all, I really do not think that having T!=1 at lRF>1215.67 is an issue, it even happens in data. The thing I do not understand is why it does not peak at 1215.67.
 - second, we do not need to fix that for the 100 mocks, so do not worry too much, however it is nice to try to understand it
 - Could you redo these different plots, but doing a mean o

[2019-06-27 17:07] jfarr03 commented on #41
@londumas I've tried to simplify the problem as much as possible, and have stacked the Gaussian field from CoLoRe in terms of cell index (rather than interpolating to use lambda_rest). It seems as if the cell in front of each QSO is slightly more dense than the cell containing the QSO. Equally, the cell beyond the QSO does not have zero mean density:

![near_QSO_delta_G_stack](https://user-images.

[2019-06-27 17:10] londumas commented on #41
@jfarr03, This is exactly the plot I had in mind, thanks.
 - are you using zqso with or without RSD?
 - why is the gaussian colore zero beyond the qso? I would have expected a symmetric curve bellow and beyond the  quasar.

[2019-06-27 17:14] jfarr03 commented on #41
This is without QSO RSDs, to make things as simple as possible.

Gaussian CoLoRe is zero beyond the QSO by design - I guess it doesn't have to be but it seems pointless to store that information. It shouldn't cause any issues as long as things are working correctly (which they might not be)

[2019-06-27 17:20] londumas commented on #41
@jfarr03, could you add in the same plot zqso(with RSD)? Could you also do a finer grid?
Would it be hard to also stack the column of `Gaussian field`, that is neighbor to the line-of-sight, in the perpendicular direction, so we could see if this issue is also there in 3D? I do not know if it is hard.
So if I understand properly, it might be a feature of CoLoRe not of LyaCoLoRe? Would it be possib

[2019-06-27 17:29] jfarr03 commented on #41
@londumas Sure, here it is:

![near_QSO_delta_G_stack](https://user-images.githubusercontent.com/15346565/60287317-79e02980-9909-11e9-88c3-0f5972ae644c.png)

A finer grid isn't really possible: the points in this plot represent the cells themselves as I didn't want to include any interpolation of the skewers. Stacking neighbours might be tricky - I can try in future but I don't have time right now

[2019-06-27 17:30] jfarr03 commented on #41
Note: the cells here don't include any RSDs, of course

[2019-06-27 17:34] londumas commented on #41
@jfarr03, Thanks for this plot, this grid makes totally sense then, if it is the natural binning of the mocks, no need to change it. It is possible that the issue indeed comes from the fact that delta(z>zqso) is not stored, then when rebinning, depending on the shape of the kernel, then you could be mixing `delta=0` with non zero values. Interesting...

[2019-06-27 19:37] jmarclegoff commented on #41
- @jfarr03 said: I can try and remove/reduce the boost only for the cells near the QSO
However, I believe that changing these cells will not have an effect on drp since these
pixels are not included in the analysis (lambda_rf_max is still 1200 ?).
More generally I think a local effect, due to F=1 above 1215.67, cannot be the reason for drp != 0.
- drp has increased from 0,05 to 0,13 between v4 and

[2019-06-27 21:14] jfarr03 commented on #41
@londumas I think the way CoLoRe works is by starting at the r=0 end of the skewer, then adding a value to each cell moving outwards by interpolating the 3D field. Once it gets to a cell for which the centre is beyond the QSO, it stops and leaves the rest of the cells with 0 value. That's why sometimes the cell beyond the QSO is 0, sometimes not. Beyond that, the cells are always 0.

I don't think

[2019-06-27 22:50] londumas commented on #38
@jfarr03 and @andreufont, here is the status of this ticket as of `v8,0/v8.0.[|0,9|]`:
1. the auto of the raw: the stack of the 10 boxes and one fit of the stack
similar to Bautista2018 (https://arxiv.org/pdf/1702.00176.pdf, figure 11)
2. the cross of the raw: the stack of the 10 boxes and one fit of the stack
similar to dMdB2018 (https://arxiv.org/pdf/1708.02225.pdf, figure 11)

Here are some rem

[2019-06-27 22:58] jfarr03 commented on #41
@londumas Re-evaluating the plot above using a full CoLoRe output file (before, I used one which had been restricted to a single HEALPix pixel), the problem seems to disappear:

![near_QSO_delta_G_stack](https://user-images.githubusercontent.com/15346565/60306198-3f8d8100-9937-11e9-88dc-8cc99071e08c.png)

This is equivalent to stacking over ~230,000 spectra rather than ~2,300. Either the previous

[2019-06-27 23:36] londumas commented on #50
Here is the status of this ticket as of `v8.0`:
1. first two plots: variance*nb_pairs for auto and cross on the raw
2. last two plots: variance*nb_pairs for autoLyb and crossLyb on the raw

The difference between these two cross and crossLyb really show that the issue comes from quasars very near the pixels.
@jfarr03, no need to worry about that, I just wanted to update the status.

![auto_cross_v

[2019-06-28 20:45] londumas commented on #38
Interestingly, the fit is more pleasing to the eye when not using the small scales, see bellow, this tells me that the P(k) at small scales, high k, is not perfectly understood. Do you have a prediction of it? or a measured P(k)?
![fit_cf_raw-different-range](https://user-images.githubusercontent.com/3166436/60370126-fed34d80-99b2-11e9-8aa9-1e8287ca0876.png)

[2019-07-19 14:12] jfarr03 opened #87 "DLA-Lya cross-correlation is not correct"
[More details to be added imminently]

When measuring the DLA-Lya cross-correlation, there is an issue with DLA-delta pairs that are close to along the line-of-sight:

<img width="953" alt="Screenshot 2019-07-17 at 12 17 43" src="https://user-images.githubusercontent.com/15346565/61541386-72f39500-aa37-11e9-8646-e19bb54fdf94.png">

Specifically, this is only present for mu positive:

<img width="9

[2019-07-19 14:44] londumas commented on #87
@jfarr03, this is very good. Can you do a version of the last plot for mu positive in one plot and mu negative in the other? If the last plot of your ticket is for |mu| you should update the legend.

[2019-07-19 14:52] jfarr03 commented on #87
@londumas The last plot is for the DLA auto-correlation, so I only measured for rp in (0,200)Mpc/h and I don't have any negative mu bins

[2019-07-19 14:54] londumas commented on #87
Sory, I see. It looks good and the level of noise is normal to me. for the high chi2, it is highly probable that the picca estimator of the variance is not perfect. But it is good enough for a plot in a paper.
Could you add the different plots for the 3d cross HCDxLya? both for mu positive and mu negative?

[2019-07-19 15:40] jfarr03 commented on #87
@londumas no worries! The 3D plots are below. The dotted line shows a "theoretical" prediction, using b_LYA=-0.119, beta_LYA=1.53, b_DLA=2.0, beta_DLA=0.48

**"Standard" randoms removal:**
![berkeley_cross_0 2_DLA](https://user-images.githubusercontent.com/15346565/61547688-ccfa5780-aa43-11e9-8be5-016de32d699c.png)

**"New" randoms removal**
![berkeley_cross_0 2_DLA_subbin](https://user-images.git

[2019-07-19 15:51] londumas commented on #87
I think it looks very good.
Let's do a combined fit with the auto-correlation of lya, and leave free
(bias_eta_lya, beta_lya, beta_DLA, growth_rate, ap, at). Like so you will have a measure of the bias of DLA for the paper. Very good.

[2019-07-19 15:57] londumas commented on #87
@jfarr03, if you have the time and the energy, could you compute the 3D cross HCD x QSO? As I showed you, using the SaclayMocks, I found deviation from the expectation along the line-of-sight. However, it is not a show stopper for the production of the 100 realizations.

[2019-08-19 18:05] londumas commented on #41
Here is the update as of `v9.0`, with the current first 19 realizations. More are coming.
It is a bit lower than what was found on version `v8.0` (https://github.com/igmhub/LyaCoLoRe/issues/41#issuecomment-505985573), but it could be a statistical fluctuation.
At least the different changes @jfarr03 made between these two versions did not make it worse, and seem to have made it better.
[code]
![dr

[2019-08-21 15:59] jfarr03 commented on #87
Update:
It seems as if the deviation from expectation in the DLA-Lya cross-correlation is a feature of some sorts rather than a bug. The below cartoons attempt to explain:

Consider a pair of near-to-parallel QSOs, one (QSO1) behind the other (QSO2). Some cells in QSO1's spectrum - cell1 for example) will be close to QSO2, and so will be more likely to be in a high-density environment. Thus the va

[2019-08-21 16:31] londumas commented on #87
@jfarr03, Thank you very much for these explanation. What I am confused about is that cell1 and cell2 are already quite far from their hosting quasar: the forest lies in [1040,1200] A and the quasar is at 1215.67 A. Thus the closest cell to the quasar is at 15.67A, if I remember correctly this translates into ~16 Mpc/h. Do you mean that the quasarxLYA correlation is even too strong there? If this

[2019-08-21 17:53] londumas commented on #87
Here is the stack of the transmission and of delta_transmission along the line of sight, in lambda_RF. It is pretty flat a l<1200, but it is possible that a residual still exists and that what you measure. This also explains why this is not measured using the cooked mocks, because the fit of the continuum, removes this effect.

![T_vs_lRF](https://user-images.githubusercontent.com/3166436/63455354

[2019-08-21 18:03] londumas commented on #87
So to conclude, the problem must come from the fact that delta_transmission is defned
with respect to `<T>` as a function of observed wavelength and not as a function of both rest-frame wavelenght and observed wavelength, as in the cooked mocks.
So it tends toward changing the estimator of delta_transmission from:
[code]
to something like:
[code]

[2019-08-21 18:04] londumas commented on #87
This might also fix the fact that we need randoms for the cross using the raw.

[2019-08-21 18:18] andreufont commented on #87
It's not about the distance to the hosting quasar, it's about the distance to the other quasar, the one that has the DLAs in the spectrum.

You are missing a factor (1+z) here, so more like 50-60 Mpc/h.

Do you mean that the quasarxLYA correlation is even too strong there? If this is the case it means that:

No, I don't think this is the right interpretation. Happy to discuss this in Paris.

[2019-09-04 17:56] londumas opened #88 "Too many quasars near one another"
This is linked in a way to the following tickets:
- extra covariance in cross-correlation along the line-of-sight: https://github.com/igmhub/LyaCoLoRe/issues/50
- Improve the smaller scale clustering of quasars auto-correlation: https://github.com/igmhub/LyaCoLoRe/issues/31

When comparing the number of pairs for the cross between data and mocks, we observe an important difference for small rt, i.

[2019-09-04 18:06] fjaviersanchez commented on #88
If I understand correctly the issue and I may weigh in: CoLoRe's small-scale power is not going to be perfect for scales smaller than 30 Mpc/h because it's a lognormal simulation. It also implements linear growth which at scales smaller than that is unclear that will work. Moving to something more complicated like LPT or 2LPT may help with this but won't guarantee having "perfect" small-scales beh

[2019-09-05 12:12] andreufont commented on #88
Unless the current setting was not acceptable, I'd try to move on with what we have. I agree that it would be nice to have a a better quasar clustering though.

2LPT would be great, since it would also give us the right bispectrum, and I'm sure that at NERSC we could run some of these. May be not 100... Also, it would require modifying the running a bit, since currently we assume we are adding 2 G

[2019-10-04 16:24] jfarr03 opened #89 "Tuning process relies on Gaussian input"
The tuning process is reliant on having Gaussian input skewers. If we want to use LPT/2LPT runs of CoLoRe, then it needs to be able to take density skewers as input.

[2019-10-04 16:29] andreufont opened #90 "Profile CoLoRe at NERSC"
How much CPU time / memory do we need to run Gaussian / 2LPT boxes, as a function of number of cells? How do the number change when we also need to extract skewers?

[2019-10-04 16:37] andreufont opened #91 "Measure quasar clustering in 2LPT"
Measure quasar clustering from Gaussian and 2LPT CoLoRe runs, for different resolutions, when using the same (standard) input files for biasing and n(z)

[2019-10-04 16:38] andreufont commented on #90
Also, runs by @jfarr03 take longer time than runs by @fjaviersanchez , it would be good to understand why.

[2019-10-04 16:40] jfarr03 commented on #90
[Copied from Slack channel]

Computational requirements for Gaussian vs 2LPT runs (by Javier)

Gaussian
1024 — Cori Haswell 2 nodes (4 MPI tasks) 1 OpenMP thread per core 1MPI task per socket
10 seconds, 2.109 GB/task -> 8.4 GB -> slurm-24945519.out -> 0.5 NERSC hours
2048 — Cori Haswell 2 nodes (4 MPI tasks) 1 OpenMP thread per core 1MPI task per socket
79s, 16.144 GB/task -> 64.5 GB total -> 3.9

[2019-10-04 16:40] andreufont opened #92 "Measure correlations of 2LPT density skewers"
Before messing with actual transmission skewers, the second things to do (after testing the quasar clustering) would be to measure the correlation function of the density skewers, and their cross-correlation with the quasars.

Ideally one would then compare this to predictions from perturbation theory? At least we can start by just making a plot.

[2019-10-04 16:43] andreufont opened #93 "Compare flux skewers from 2LPT"
Once we are happy with the 2LPT density skewers, we should go ahead and extract flux skewers.

We could start by applying the same transformations than in the case of the Gaussian skewers, without re-tunning the parameters, and see how it goes.

The only thing we'd need to do is to think how to actually combine the 2LPT skewers with the extra Gaussian noise.

[2019-10-04 16:44] andreufont commented on #93
May be @slosar might have an idea here.

[2019-10-05 08:28] slosar commented on #93
I don't think exactly the same transformations will work, but it doesn't hurt to try. You'll probably have to retune them.
So, what is the problem in adding noise. You can add noise to density and even if density goes negative flux is still fine, right?

[2019-10-05 11:32] andreufont commented on #93
Hi @slosar - let me explain a bit more the concern:

Current setting:
 - we extract the Gaussian density skewers from CoLoRe
 - add Gaussian extra power, to get a final Gaussian field
 - apply lognormal transformation to the total Gaussian field, to obtain positive lognormal densities
 - apply FGPA to the lognormal densities to obtain optical depth

Potential future setting:
 - we extract the 2LPT

[2019-10-05 12:52] slosar commented on #93
So Gaussian + lognormal is supposed to approximate matter. LPT gives matter already, so I don't think you should be lognormalling that once more. I would apply FGPA to LPT + Gaussian noise, or perhaps LPT + lognormal (gaussian noise).

[2019-10-05 12:58] andreufont commented on #93
On Slack we had suggested 2LPT + lognormal(gaussian noise), but I wasn't quite sure whether this would need to be re-normalised later, to have bias=1 on linear scales. We could do some simple algebra, or run both and compare :-p

[2019-10-07 13:40] jfarr03 commented on #90
Currently, running a 2048 gaussian without skewers uses 65 GB of memory for both Javier and myself.

However, even when I use the same param and slurm files as Javier, it takes 2x as long to run.

Potential differences are in the exact version of CoLoRe that we're using, as well as the libraries and compilers that we've chosen. I'm going to try a separate installation of CoLoRe with the exact same

[2019-10-08 15:19] londumas opened #94 "random quasar is different than real"
Comparing the mock random quasar catalog and the mock data quasar catalog, we can see that something is happening at the DEC==0. @jfarr03, do you have any idea of what is happening? An overflow of some sort? This is using v9.0.0, but I observe that also on v9.0.1. If this is real you should also have the issue on the plot of your paper. Could you have a look? I am trying to compute the auto-correl

[2019-10-08 15:40] jfarr03 commented on #94
I've found the bug - it was a simple error fortunately. I'll generate a new set of randoms now and will let you know when it's done so you can check, @londumas.

[2019-10-08 15:41] londumas commented on #94
@jfarr03, sounds perfect. I am confused that it did not show up on the plot for your paper.

[2019-10-08 15:42] jfarr03 commented on #94
The bug is only related to imposing the desi footprint, whereas the realisations I used for the paper are full sky so were unaffected

[2019-10-08 15:42] londumas commented on #94
@jfarr03, I see. Thanks for the help.

[2019-10-08 16:06] jfarr03 commented on #94
@londumas the file for v9.0.0 has finished and the histogram looks more sensible - can you check that the footprint plot looks ok now?

[2019-10-08 16:15] londumas commented on #94
Hi @jfarr03, looks good. Let me run the auto-correlation of quasar and I will confirm that to you.
![random_data](https://user-images.githubusercontent.com/3166436/66413370-87707980-e9f7-11e9-8a6f-c4779e8d8612.png)

[2019-10-08 16:16] jfarr03 commented on #94
Great, thanks - once you've confirmed I'll re-run all of the other realisations as well

[2019-10-08 16:38] londumas commented on #94
@jfarr03, works perfectly. Can you reproduce the random catalogs for all the realizations?

[2019-10-08 16:40] jfarr03 commented on #94
Great! Yes will do - it'll take a while to run but I'll let you know once it's finished

[2019-10-08 16:41] londumas commented on #94
perfect.

[2019-10-09 12:27] jfarr03 commented on #94
@londumas All realisations have now finished running - I've checked the histograms for the a random 10 realisations and they all look good

[2019-10-09 12:28] londumas commented on #94
@jfarr03, perfect. Thanks for fixing that.

[2019-10-09 12:28] #94 closed

[2019-10-09 12:29] jfarr03 commented on #94
No problem!

[2020-04-28 16:43] jfarr03 opened #99 "make_transmission editing master file causes unnecessary issues on multiple nodes"
When running `make_transmission.py`, its final step is to edit the master file to add the redshift grid used in LyaCoLoRe. When multiple nodes try to do this at once, it produces errors when it doesn't really need to (relating to io). A simple fix to only edit the master file from one node should suffice.

This doesn't cause any issues with the output of LyaCoLoRe, but would be good to fix to avoi